.topSearchBar {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content;
  align-items: center;
  background-color: var(--asc-color-background-default);
}

.topSearchBar[data-cancel='true'] {
  gap: 0.5rem;
}

.topSearchBar__inputBar {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr) min-content;
  align-items: center;
  background-color: var(--asc-color-base-shade4);
  gap: 0.5rem;
  padding: 0.62rem 0.75rem;
  border-radius: 0.5rem;
}

.topSearchBar__textInput {
  border: none;
  background-color: var(--asc-color-base-shade4);
  outline: none;
  font-size: 1rem;
  color: var(--asc-color-base-default);
}

.topSearchBar__searchIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--asc-color-base-shade2);
}

.topSearchBar__searchIcon_img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.topSearchBar__clearButton {
  width: 1.25rem;
  height: 1.25rem;
}

.topSearchBar__clearButton__default {
  cursor: pointer;
  fill: var(--asc-color-base-shade3);
}

.topSearchBar__clearButton__img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.topSearchBar__cancelButton {
  display: block;
}

@media (width >= 48em) {
  .topSearchBar {
    grid-template-columns: 1fr;
  }

  .topSearchBar__cancelButton {
    display: none;
  }

  .topSearchBar__textInput {
    font-size: 0.875rem;
  }
}
