.topSearchBar {
  display: flex;
  align-items: center;
  background-color: var(--asc-color-background-default);
  padding: 0 1rem 0 0.75rem;
  gap: 0.75rem;
}

.topSearchBar[data-cancel='true'] {
  gap: 0.5rem;
}

.topSearchBar__inputBar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--asc-color-base-shade4);
  padding: 0.62rem 0.75rem;
  border-radius: 0.5rem;
}

.topSearchBar__inputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-grow: 1;
}

.topSearchBar__textInput {
  border: none;
  background-color: var(--asc-color-base-shade4);
  outline: none;
  font-size: 1rem;
  color: var(--asc-color-base-default);
  width: 100%;
  min-width: 0;
}

.topSearchBar__searchIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--asc-color-base-shade2);
}

.topSearchBar__searchIcon_img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.topSearchBar__clearButton {
  width: 1.25rem;
  height: 1.25rem;
}

.topSearchBar__clearButton__default {
  cursor: pointer;
  fill: var(--asc-color-base-shade3);
}

.topSearchBar__clearButton__img {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.topSearchBar__cancelButton {
  display: block;
}

@media (width >= 48em) {
  .topSearchBar {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .topSearchBar__cancelButton {
    display: none;
  }

  .topSearchBar__textInput {
    font-size: 0.875rem;
  }
}
