.channelList__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
  min-height: calc(100svh - var(--chat-home-header-height, 3rem) - 3.25rem);
  background: var(--asc-color-surface-page-background-default);
}

.channelList__emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.channelList__emptyText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.channelList__emptyTitle {
  color: var(--asc-color-text-emptystate-title-default);
}

.channelList__emptySubtitle {
  color: var(--asc-color-text-emptystate-description-default);
}
