.imageButton {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  gap: 0.75rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.imageButton:disabled {
  cursor: not-allowed;
  color: var(--asc-color-secondary-shade3);
}

.imageButton__icon {
  width: 2rem;
  height: 2rem;
  color: var(--asc-color-base-default);
  background: var(--asc-color-background-shade1);
  border-radius: 50%;
  padding: 0.25rem;
}

.imageButton__icon[data-disabled='true'] {
  color: var(--asc-color-secondary-shade3);
}

.imageButton_input {
  display: none;
}

.imageButton__label {
  display: inline;
}

@media (width >= 48em) {
  .imageButton {
    padding: 0;
  }

  .imageButton__label {
    display: none;
  }

  .imageButton[data-focus-visible] {
    border-radius: 100%;
    outline: 1px solid var(--asc-color-primary-default);
  }
}
