.composeBarContainer {
  min-height: 3.5rem;
  z-index: 99;
  background-color: inherit;
}

.composeBar {
  display: flex;
  align-items: center;
  gap: var(--asc-spacing-s2);
  padding: var(--asc-spacing-s1) var(--asc-spacing-s2);
  background-color: inherit;
  border-top: 1px solid var(--asc-color-base-shade2);
}

.textInputContainer {
  display: flex;
  flex-grow: 1;

  & > div {
    width: 100%;
    border-radius: var(--asc-border-radius-xxl);
    border: 1px solid var(--asc-color-base-background);
    background: var(--asc-color-secondary-shade4);

    textarea {
      padding: 0.563rem 1rem;
      background-color: transparent;
    }
  }
}

.composeBarLoading {
  width: 100%;
  height: var(--asc-spacing-l1);
  padding: var(--asc-spacing-s1) var(--asc-spacing-s2);
  border-radius: var(--asc-border-radius-sm);
  border: var(--asc-border-radius-none);
  background-color: var(--asc-color-secondary-default);
  color: var(--asc-color-base-inverse);
  display: flex;
  align-items: center;

  span {
    padding-left: var(--asc-spacing-s1);
    font-weight: var(--asc-text-font-weight-light);
  }
}

.replyPlaceholderContainer {
  display: flex;
  font-family: var(--asc-text-global-font-family);
  background-color: var(--asc-color-base-shade4);
  color: var(--asc-color-white);
  max-width: 100%;
  padding: var(--asc-spacing-s2);
  padding-left: var(--asc-spacing-m1);
  gap: var(--asc-spacing-s2);
  justify-content: space-between;
  align-items: center;

  .replyAvatar {
    flex: 0 0 auto;
  }

  .replyProfile {
    display: flex;
    flex-direction: column;
    color: var(--asc-color-white);
    font-size: var(--asc-text-font-size-sm);
    line-height: var(--asc-line-height-sm);
    flex: 1;
    overflow: hidden;
    gap: 0.125rem;

    .replyProfileName {
      font-weight: var(--asc-text-font-weight-bold);
    }

    .replyProfileMessage {
      font-weight: var(--asc-text-font-weight-light);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .replyDismiss {
    flex: 0 0 auto;
    cursor: pointer;
  }
}

.notificationPosition {
  position: relative;
  height: 0;
}
