.publicProfileOptions {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sectionHeading {
  margin: 1rem 0;
  padding: 0 1rem;
  color: #666;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sectionDivider {
  margin: 1rem 0;
  border: none;
  height: 1px;
  background-color: #e5e5e5;
}
