.pollPostComposerPage__container {
  background-color: var(--asc-color-background-default);
  padding: 0 1rem;
  position: relative;
}

.pollPostComposerPage__form {
  padding-bottom: 1.5rem;
}

.pollPostComposerPage__topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: var(--asc-color-background-default);
}

.pollPostComposerPage__topBar__displayName {
  font-weight: var(--asc-text-font-weight-bold);
  font-size: var(--asc-text-font-size-md);
  line-height: var(--asc-line-height-md);
  color: var(--asc-color-base-default);
}

/* Poll Question */

.pollPostComposerPage__pollQuestion {
  background-color: var(--asc-color-background-default);
  padding: 1.5rem 0 0.75rem;
}

.pollPostComposerPage__pollQuestion__mention {
  position: relative;
  overflow-y: scroll;
  border-radius: 0.5rem;
  box-shadow: var(--asc-box-shadow-04);
  background-color: var(--asc-color-background-default);
  max-width: 21.4375rem;
  max-height: 11rem;
  left: 0;
  top: -1rem;
}

.pollPostComposerPage__pollQuestion__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.pollPostComposerPage__pollQuestion__limit {
  color: var(--asc-color-base-shade1);
  font-size: 0.8125rem;
}

.pollPostComposerPage__pollQuestion__input {
  padding: 0 0 1rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  font-size: 0.9375rem;
}

.pollPostComposerPage__pollQuestion__input[data-input-validation='false'] {
  border-bottom: 1px solid var(--asc-color-alert-default);
}

.pollPostComposerPage__pollQuestion__placeholder {
  position: relative;
  top: -1rem;
  left: 0;
  font-size: 0.9375rem;
}

/* Poll Options */
.pollPostComposerPage__pollOptions {
  padding: 1.5rem 0 0.75rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
}

.pollPostComposerPage__pollOptions__validationWrap {
  margin-top: 0.25rem;
}

.pollPostComposerPage__pollQuestion__validationWrap {
  margin-top: 0.5rem;
}

.pollPostComposerPage__pollQuestion__validationText {
  color: var(--asc-color-alert-default);
}

.pollPostComposerPage__pollOptions__options {
  background-color: var(--asc-color-background-default);
  margin-bottom: 0.75rem;
}

.pollPostComposerPage__pollOptions__label {
  display: block;
  margin-bottom: 1.25rem;
}

.pollPostComposerPage__pollOptions__optionsWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.pollPostComposerPage__pollOptions__input {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--asc-color-base-shade4);
  padding: 0.75rem;
  color: var(--asc-color-base-default);
  font-size: 0.9375rem;
  width: 100%;
  resize: none;
  field-sizing: content;
}

.pollPostComposerPage__pollOptions__input[data-isvalid='false'] {
  border: 1px solid var(--asc-color-alert-default);
}

.pollPostComposerPage__pollOptions__input::placeholder {
  color: var(--asc-color-base-shade2);
}

.pollPostComposerPage__pollOptions__trashIcon {
  width: 1.25rem;
  height: 1rem;
  fill: var(--asc-color-base-default);
}

.pollPostComposerPage__pollOptions__trashButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Mutiple selection */

.pollPostComposerPage__answerType {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
}

.pollPostComposerPage__duration {
  padding: 1.5rem 0 1rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
}

.pollPostComposerPage__duration__button {
  background-color: var(--asc-color-background-default);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;
}

.pollPostComposerPage__duration__dropdownIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-shade2);
}

.pollPostComposerPage__duration__captionWrap {
  background-color: var(--asc-color-background-default);
  padding: 0.25rem 0;
}

.pollPostComposerPage__duration__caption {
  color: var(--asc-color-base-shade1);
}

.pollPostComposerPage__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--asc-color-background-default);
  opacity: 0.5;
  z-index: 1;
}

.pollPostComposerPage_notificationIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-background-default);
}

@media (width >= 48em) {
  .pollPostComposerPage__container {
    width: 34.125rem;
    max-height: calc(80vh - 4.75rem);
    overflow-y: scroll;
    position: static;
    border-radius: 0.75rem;
    padding: 0 1.5rem;
  }

  .pollPostComposerPage__topBar {
    display: none;
  }

  .pollPostComposerPage__form {
    padding-bottom: unset;
  }

  .pollPostComposerPage__pollQuestion__mention {
    max-width: 31.125rem;
  }

  .pollPostComposerPage__postButtonWrap {
    position: sticky;
    bottom: 0;
    padding: 1rem 0 1.5rem;
    background-color: var(--asc-color-background-default);
  }

  .pollPostComposerPage__postButton {
    width: 100%;
  }

  .pollPostComposerPage__notificationWrapper {
    top: 2rem;
    height: 3rem;
    width: 30rem;
    z-index: 9999;
    bottom: unset;
    position: absolute;
  }
}
