.communitySideBarMenuItem {
  gap: 1rem;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--asc-color-base-default);
}

.communitySideBarMenuItem:hover,
.communitySideBarMenuItem:active {
  color: var(--asc-color-base-default);
  background-color: var(--asc-color-base-shade4);
}

.communitySideBarMenuItem:disabled {
  background-color: transparent;
  color: var(--asc-color-base-shade2);
}

.communitySideBarMenuItem[data-active='true'] {
  color: var(--asc-color-primary-default);
  background-color: var(--asc-color-primary-shade3);
}

.communitySideBarMenuItem__iconWrapper {
  width: 2rem;
  height: 2rem;
  display: grid;
  color: inherit;
  padding: 0.375rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--asc-color-base-shade4);
}

.communitySideBarMenuItem__iconWrapper[data-active='true'] {
  background-color: var(--asc-color-primary-default);
}

.communitySideBarMenuItem__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--asc-color-base-default);
}

.communitySideBarMenuItem__icon[data-active='true'] {
  fill: var(--asc-color-white);
}

.communitySideBarMenuItem__label {
  font-size: var(--asc-text-font-size-sm);
  font-weight: var(--asc-text-font-weight-bold);
}

.communitySideBarMenuItem__label[data-active='true'] {
  color: var(--asc-color-primary-default);
}

@media (width >= 48em) {
  .communitySideBarMenuItem[data-focus-visible] {
    color: var(--asc-color-base-default);
    background-color: var(--asc-color-base-shade4);
  }
}
