.container {
  gap: 2rem;
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background: var(--asc-color-background-default);
}

.container button {
  width: 100%;
  padding: 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  color: var(--asc-color-base-default);
  background: var(--asc-color-secondary-shade5);
  border: 1px solid var(--asc-color-secondary-shade4);
}

.container button svg {
  fill: var(--asc-color-base-default);
}
