button {
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

.clearButton {
  color: var(--asc-color-primary-default);
  background-color: var(--asc-color-base-background);
}
