

.ascTypographyHeading {
    font-family: var(--asc-text-global-font-family);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  
  .ascTypographyTitle {
    font-family: var(--asc-text-global-font-family);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  
  .ascTypographyBodyBold {
    font-family: var(--asc-text-global-font-family);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
  
  .ascTypographyBody {
    font-family: var(--asc-text-global-font-family);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  
  .ascTypographyCaptionBold {
    font-family: var(--asc-text-global-font-family);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
  }
  
  .ascTypographyCaption {
    font-family: var(--asc-text-global-font-family);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
  }