.uiStyles {
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-font-size);
  font-weight: var(--typography-body-font-weight);
  line-height: var(--typography-body-line-height);
  color: var(--palette-base-main);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.uiStyles input,
.uiStyles div {
  box-sizing: border-box;
}

.uiStyles * {
  font-size: var(--typography-body-font-size);
  line-height: 1.5;
}

.uiStyles pre {
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-font-size);
  font-weight: var(--typography-body-font-weight);
  line-height: var(--typography-body-line-height);
  text-anchor: start;
}
