.draftPage {
  display: flex;
  flex-direction: column;
  width: 23.438rem;
  height: 40.875rem;
  position: relative;
  font-family: var(--asc-text-global-font-family);
  font-style: var(--asc-text-global-font-style);
}

.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: var(--asc-spacing-s1);
  background-color: transparent;
  color: var(--asc-color-white);
}

.topRightButtons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: var(--asc-spacing-s2);
}

.mainContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: var(--asc-border-radius-lg);
  border-top-right-radius: var(--asc-border-radius-lg);
  background: linear-gradient(
    180deg,
    var(--asc-draft-image-container-color-0, var(--asc-color-black)) 0%,
    var(--asc-draft-image-container-color-last, var(--asc-color-black)) 100%
  );
  position: relative;
  width: 100%;
  height: 100%;
}

.previewImage {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--asc-spacing-m1);
  background-color: var(--asc-color-black);
  width: 100%;
}

.videoPreview {
  width: 100%;
  height: 100%;
  background-color: var(--asc-color-black);
}

.hyperLinkContainer {
  position: absolute;
  padding: 1rem;
  display: flex;
  justify-content: center;
  bottom: 6rem;
  left: 0;
  right: 0;
}

.playPauseButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  color: var(--asc-color-white);
  font-size: 3rem;
  cursor: pointer;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: rgb(255 255 255 / 30%);
}

.progressFill {
  height: 100%;
  background-color: var(--asc-color-white);
  transition: width 0.1s linear;
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: var(--asc-color-black);
}

.description {
  font-size: 14px;
}

.storyPreview {
  position: relative;
  width: 100%;
  height: 100%;
}
