.loadingIndicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.75;
  transition: width 0.4s ease;
  animation: glow 0.8s alternate infinite linear;
  background: var(--asc-color-base-shade4);
}

@keyframes glow {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.75;
  }
}
