{
  "parser": "babel-eslint",
  "extends": ["eko/react"],
  "rules": {
    // Allow <> instead of <React.Fragment>
    "react/jsx-fragments": "off",
    // Allow dependencies used in some files to remain as devDependencies.
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.stories.*", "webpack.config.js"]
      }
    ]
  }
}
