{
  "parser": "babel-eslint",
  "extends": ["eko/react"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    // Allow <> instead of <React.Fragment>
    "react/jsx-fragments": "off",
    // Mainly to allow dependencies used in some files to remain as devDependencies.
    "import/no-extraneous-dependencies": "off"
  },
  "env": {
    "jest": true
  }
}
