.clipCaption__container {
  position: absolute;
  z-index: 1;
  bottom: 3.25rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  max-width: calc(100vw - 3rem);
  width: 100%;
  max-height: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.clipCaption__container__inner {
  position: absolute;
  bottom: 3.25rem;
}

.clipCaption__gradientBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0; /* Will be set dynamically by JavaScript */
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 80%) 100%);
  z-index: 0;
  pointer-events: none;
}

.clipCaption__text {
  color: var(--asc-color-white);
  margin-top: 0.34rem;
  overflow: scroll;
}

.clipCaption__userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.clipCaption__usernameContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.clipCaption__usernameButton {
  display: flex;
  gap: 0.12rem;
}

.clipCaption__avatar {
  width: 2rem;
  height: 2rem;
}

.clipCaption__textWhite {
  color: var(--asc-color-white) !important;
}

.clipCaption__userContentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.13rem;
}

.clipCaption__seeMore,
.clipCaption__seeLess {
  background: none;
  border: none;
  color: var(--asc-color-white) !important;
  cursor: pointer;
  padding: 0;
  display: inline;
}

.clipCaption__moderatorBadge {
  width: fit-content;
}

.clipCaption__textWhiteBold {
  text-decoration: none;
  color: var(--asc-color-white) !important;
  font-weight: 600;
}

.clipCaption__userName {
  color: var(--asc-color-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8rem;
  width: 100%;
}

.clipCaption__skeleton {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.75rem;
  padding: 0.75rem 0;
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

.clipCaption__skeleton__title {
  width: 80%;
  height: 0.5rem;
  background-color: var(--asc-color-secondary-shade2);
  border-radius: 0.75rem;
}

.clipCaption__skeleton__desc {
  width: 50%;
  height: 0.5rem;
  background-color: var(--asc-color-secondary-shade2);
  border-radius: 0.75rem;
}

.clipCaption__skeleton__moderator {
  width: 20%;
  height: 0.5rem;
  background-color: var(--asc-color-secondary-shade2);
  border-radius: 0.75rem;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
