.liveStreamBannedPage {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
}

.liveStreamBannedPage__header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.liveStreamBannedPage__title {
  color: var(--asc-color-base-default);
}

.liveStreamBannedPage__content {
  gap: 0.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.liveStreamBannedPage__footer {
  padding: 1rem;
}

.liveStreamBannedPage__bannedIcon {
  width: 3.5rem;
  height: 3.5rem;
}

.liveStreamBannedPage__bannedIcon,
.liveStreamBannedPage__bannedTitle {
  color: var(--asc-color-base-default);
}

.liveStreamBannedPage__bannedDescription {
  color: var(--asc-color-base-shade3);
}

.liveStreamBannedPage__button {
  width: 100%;
}
