.messageItemContainer {
  padding: var(--asc-spacing-s1) var(--asc-spacing-m1);
  display: flex;
  gap: var(--asc-spacing-s1);
}

.userDisplayName {
  display: flex;
  gap: var(--asc-spacing-xxs2);
  align-items: center;
  color: var(--asc-color-secondary-shade2);
  margin-bottom: var(--asc-spacing-xxs2);
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.moderatorBadge {
  width: 1rem;
  height: 1rem;
}
