.leaveCommunity__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.leaveCommunity__text {
  color: var(--asc-color-alert-default);
}
