.userMenu {
  height: 100%;
  width: 100%;
}

.userMenu__button {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.25rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.userMenu__editProfile__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
  color: var(--asc-color-base-default);
}

.userMenu__editProfile__text {
  color: var(--asc-color-base-default);
}

.userMenu__reportUser__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
  color: var(--asc-color-base-default);
}

.userMenu__reportUser__text {
  color: var(--asc-color-base-default);
}

.userMenu__blockedUser__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
  color: var(--asc-color-base-default);
}

.userMenu__blockedUser__text {
  color: var(--asc-color-base-default);
}
