.messageListHeader {
  display: flex;
  padding: var(--asc-spacing-m1);
  padding-top: 0;
  gap: var(--asc-spacing-s1);
  align-items: center;
}

.displayName {
  color: var(--asc-color-base-inverse);
}

.memberCount {
  color: var(--asc-color-base-default);
  display: flex;
  align-items: center;
}

.memberIcon {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: var(--asc-spacing-xxs2);
  fill: var(--asc-color-base-default);
}

.avatar {
  width: 3rem;
  height: 3rem;
}
