.eventDiscussion {
  padding-bottom: 3rem;
}

.eventDiscussion__posts {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.emptyUserFeed__emptyIcon {
  width: 3.75rem;
  height: 3.75rem;
  fill: var(--asc-color-secondary-shade4);
}

.eventDiscussion__post {
  border-radius: 0.5rem;
  border: 1px solid var(--asc-color-base-shade4);
}

@media only screen and (width < 48em) {
  .eventDiscussion__post {
    border: none;
    border-radius: 0;
  }
}
