.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.clearButton[data-focus-visible] {
  outline: 2px solid var(--asc-color-primary-default);
}
