.selectPostTargetPage {
  max-width: 100vw;
  height: 100vh;
  padding: var(--asc-spacing-none) var(--asc-spacing-m1);
  background-color: var(--asc-color-base-background);
}

.selectPostTargetPage__topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--asc-spacing-m1) var(--asc-spacing-none);
}

.selectPostTargetPage__timeline {
  display: flex;
  align-items: center;
  padding: var(--asc-spacing-s1) var(--asc-spacing-none);
}

.selectPostTargetPage__line {
  margin-top: var(--asc-spacing-s1);
  border-top: 1px solid var(--asc-color-base-shade4);
}

.selectPostTargetPage__myCommunities {
  display: flex;
  text-align: left;
  color: var(--asc-color-base-default);
  padding: var(--asc-spacing-m1) var(--asc-spacing-none) var(--asc-spacing-s1);
  font-size: 0.9375rem;
  line-height: var(--asc-line-height-md);
  letter-spacing: -0.015rem;
  opacity: 0.4;
}

.selectPostTargetPage__communityAvatar {
  margin-right: var(--asc-spacing-s1);
}

.selectPostTargetPage__closeButton {
  display: flex;
  fill: var(--asc-color-base-default);
}

.selectPostTargetPage__title {
  color: var(--asc-color-base-default);
}
