/* LivestreamStage Component Styles */

.livestreamStage__stageContainer {
  display: flex;
  width: 100%;
  justify-content: center;

  /* position: absolute; */
  height: 100%;
  align-items: center;
}

.livestreamStage__stageContainer__inner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.livestreamStage__deviceControls {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  margin: auto;
}
