.sendButton {
  border-radius: var(--asc-border-radius-xxl);
  width: 1rem;
  height: 1rem;
  background-color: var(--asc-color-primary-default);
  cursor: pointer;
  padding: var(--asc-spacing-xxs2);
  fill: white;
}

.reactionButton {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.sendButtonContainer {
  display: flex;
  align-items: center;
  gap: var(--asc-spacing-s2);
  width: 2rem;
  height: 2rem;
}

.composeBarContainer {
  min-height: 3.5rem;
  z-index: 99;
  background-color: inherit;
}

.composeBar {
  display: flex;
  align-items: center;
  gap: var(--asc-spacing-s2);
  padding: var(--asc-spacing-s1) var(--asc-spacing-s2);
  background-color: inherit;
  box-shadow: 0 -1px 0 0 var(--asc-color-base-shade4);
}

.textInputContainer {
  display: flex;
  width: calc(100% - 2.8rem);

  & > div {
    width: 100%;
    border-radius: var(--asc-border-radius-xxl);
    background: var(--asc-color-secondary-shade4);

    textarea {
      padding: 0.563rem 1rem;
      background-color: transparent;
    }
  }
}

.composeBarLoading {
  width: 100%;
  height: var(--asc-spacing-l1);
  padding: var(--asc-spacing-s1) var(--asc-spacing-s2);
  border-radius: var(--asc-border-radius-sm);
  border: var(--asc-border-radius-none);
  background-color: var(--asc-color-secondary-default);
  color: var(--asc-color-base-inverse);
  display: flex;
  align-items: center;

  span {
    padding-left: var(--asc-spacing-s1);
    font-weight: var(--asc-text-font-weight-light);
  }
}

.mentionText {
  color: var(--asc-color-primary-default);
}
