.communityMember__item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--asc-color-background-default);
  color: var(--asc-color-base-default);
  gap: 0.75rem;
  cursor: pointer;
}

.communityMember__item:focus {
  background-color: var(--asc-color-base-shade4);
}

.communityMember__avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.communityMember__displayName {
  margin-left: 0.5rem;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--asc-color-base-default);
}
