.newsfeed {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--asc-color-background-default);
}

/* .newsFeed__cardBorders {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: var(--component-card-multipuropse-layout-radius-default, 0.5rem);
  background: var(--component-card-multipuropse-surface-even, #fff);
  box-shadow: var(--effect-elevation-sm-x, 0) var(--effect-elevation-sm-y, 4px)
    var(--effect-elevation-sm-blur, 16px) var(--effect-elevation-sm-spread, 0)
    var(--effect-surface-effect, rgb(0 0 0 / 12%));
} */

.newsfeed__postList {
  display: flex;
  flex-direction: column;
}

.newsfeed__postContainer {
  padding: 0.25rem 1rem 0.75rem 0.75rem;
}

.newsfeed__post__reactionBar__leftPane__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.newsfeed__post__reactionBar__leftPane__iconImg {
  width: 1.25rem;
  height: 1.25rem;
}

.newsfeed__post__reactionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.newsfeed__post__reactionBar__leftPane {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsfeed__post__reactionBar__rightPane {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 48em) {
  .newsfeed {
    background-color: var(--asc-color-background-shade1);
  }

  .newsfeed__storyTab {
    margin-bottom: 0.75rem;
  }
}
