.coHostToggleProductPermission {
  max-width: 18.75rem;
  display: block;
  gap: 0.75rem;
}

.coHostToggleProductPermission__caption {
  color: var(--asc-color-base-shade1);
}

.coHostToggleProductPermission__content {
  display: flex;
  padding: 1rem;
}

.coHostToggleProductPermission__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
