.createGroupChat {
  min-height: 100svh;
  background-color: var(--asc-color-surface-page-background-default);
}

.createGroupChat__avatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
