.livestreamHeaderMenu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 18.75rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.livestreamHeaderMenu__readOnlyToggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
