.communityVideoFeed__container {
  gap: 0.5rem;
  display: grid;
  padding: 1rem;
}

.communityVideoFeed__containerSkeleton {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.communityVideoFeed__itemSkeleton {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 0.5rem;
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--asc-color-base-shade4);
}

.communityVideoFeed__lock {
  margin: 0.75rem 0 1rem;
}

.communityVideoFeed__videoFeedTabs {
  background-color: var(--asc-color-background-default);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.88rem 1rem;
}

.communityVideoFeed__observerTarget {
  height: var(--asc-spacing-m1);
  width: 100%;
}

@media (width >= 48em) {
  .communityVideoFeed__container {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 0 1rem;
    padding-bottom: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    border-top: none;
    background-color: var(--asc-color-background-default);
  }

  .communityVideoFeed__containerSkeleton {
    grid-template-columns: repeat(3, 1fr);
  }

  .communityVideoFeed__videoFeedTabs {
    border: 1px solid var(--asc-color-base-shade4);
    border-radius: 0.5rem 0.5rem 0 0;
    margin: 0.75rem 0 0;
    border-bottom: none;
  }
}
