.sendMessageIcon {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 8px;
  fill: #0f86fe;
  width: 28px;
  height: 28px;
}

.imageMessageIcon {
  cursor: pointer;
  margin-right: 20px;
  fill: var(--color-neutral-main);
  width: 18px;
  height: 18px;
}

.fileMessageIcon {
  margin-right: 12px;
  cursor: pointer;
  fill: var(--color-neutral-main);
  width: 18px;
  height: 18px;
}

.messageComposeBarContainer {
  padding: 12px 16px 16px;
  background: white;
  border-top: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0 0 16px;
}

.messageComposeBarInput {
  height: 34px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  flex-grow: 1;
  background: #f2f2f2;
}

/* Mobile styles */
@media (width <= 768px) {
  .messageComposeBarContainer {
    border-radius: 0;
    border-top: 1px solid #e3e4e8;
    padding: 16px;
  }
}
