.sendMessageIcon {
  cursor: pointer;
  margin-left: 12px;
  margin-right: 8px;
  fill: #0f86fe;
  width: 28px;
  height: 28px;
}

.imageMessageIcon {
  cursor: pointer;
  margin-right: 20px;
  fill: var(--color-neutral-main);
  width: 18px;
  height: 18px;
}

.fileMessageIcon {
  margin-right: 12px;
  cursor: pointer;
  fill: var(--color-neutral-main);
  width: 18px;
  height: 18px;
}

.messageComposeBarContainer {
  padding: 12px 16px 16px 16px;
  background: var(--color-system-background);
  border-top: 1px solid #e3e4e8;
  display: flex;
  align-items: center;
}

.messageComposeBarInput {
  height: 34px;
  padding: 6px;
  outline: none;
  border: 1px solid #e3e4e8;
  border-radius: 4px;
  flex-grow: 1;
}
