.livestreamOverlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(from var(--asc-color-black) r g b / 50%);
  z-index: 2;
}

.livestreamOverlay__top {
  background: linear-gradient(180deg, var(--asc-color-black) 0%, var(--asc-color-black) 100%);
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.livestreamOverlay__bottom {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, transparent, var(--asc-color-black) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.livestreamOverlay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding: 16rem;
}

.livestreamOverlay__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.livestreamOverlay__title,
.livestreamOverlay__description {
  color: var(--asc-color-white);
}

.livestreamOverlay__loadingSpinner {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  border: 3px solid rgb(from var(--asc-color-white) r g b / 50%);
  border-top-color: var(--asc-color-white);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Countdown Overlay Content Styles */
.livestreamOverlay__countdownContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}

.livestreamOverlay__countdownTitle,
.livestreamOverlay__countdownDescription {
  color: var(--asc-color-white);
}

.livestreamOverlay__waitingApprovalIcon {
  width: 3rem;
  height: 3rem;
  fill: var(--asc-color-white);
  margin-bottom: 0.75rem;
}

.livestreamOverlay__watingApproval__bottomText {
  color: var(--asc-color-secondary-shade2);
  padding-bottom: 2rem;
}
