.allCategoriesPage {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  background-color: var(--asc-color-background-default);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.allCategoriesPage::-webkit-scrollbar {
  display: none;
}

.allCategoriesPage__navigation {
  display: grid;
  padding: 1rem 0;
  align-items: center;
  background-color: var(--asc-color-background-default);
  grid-template-columns: minmax(0, 1fr) max-content minmax(0, 1fr);
}

.allCategoriesList {
  display: flex;
  flex-direction: column;
}

.allCategoryItem {
  display: grid;
  align-items: center;
  grid-template-columns: 2.5rem minmax(0, 1fr) min-content;
  gap: 0.75rem;
  padding: 0.5rem 0;
}

.allCategoryItem__categoryName {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.allCategoryItem__image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.allCategoryItem__arrow {
  width: 1.5rem;
  height: 1.125rem;
  fill: var(--asc-color-secondary-default);
}

.allCategoriesList__intersectionNode {
  width: 100%;
  height: 1px;
}

@media (width >= 48em) {
  .allCategoriesPage {
    padding: 0;
    gap: 0.75rem;
    background-color: transparent;
  }

  .allCategoriesPage__navigation {
    padding: 1.25rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
  }

  .allCategoriesList {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }
}
