.videoPlayerWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.fullImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: var(--asc-color-black);
}

.videoPlayerClickArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background: var(--asc-color-transparent-black);
  border-radius: 50%;
  pointer-events: auto;
}

.playButtonIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-white);
}

@media only screen and (width >= 48em) {
  .videoViewer__fullImage {
    max-width: 37.5rem;
    max-height: 37.5rem;
  }
}
