.topBar {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  height: 3.5rem;
  background-color: var(--asc-color-surface-page-background-default);
}

.topBar__leftAction {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  min-width: 0;
}

.topBar__rightAction {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}

.topBar__title {
  flex-shrink: 0;
  max-width: 16rem;
  color: var(--asc-color-text-sheets-header-title-default);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
