.inputTextContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 1em;

  background: var(--asc-color-base-shade4);
  border: 1px solid var(--asc-color-base-shade4);
  border-radius: var(--asc-border-radius-sm);
  transition: background 0.2s, border-color 0.2s;

  &.invalid {
    border-color: var(--asc-color-alert);
  }

  &.disabled {
    background: var(--asc-color-base-shade4);
    border-color: var(--asc-color-base-shade3);
  }
}

.baseInputStyle {
  flex: 1 1 auto;
  display: block;
  width: 1%;
  min-width: 0;
  margin: 0;
  padding: 0.563rem 0.563rem;
  background: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  font: inherit;
  resize: vertical;

  &::placeholder {
    font-weight: 400;
  }

  &[disabled] {
    background: none;
  }
}

.mentionContainer {
  position: relative;
  width: 100%;

  > div:first-child {
    /* Put !important to override inline-css in target element */
    position: absolute !important;
    width: 100%;

    /* Revert all position value */
    top: revert !important;
    left: revert !important;
    right: revert !important;
    bottom: revert !important;
  }
}

.live-chat-mention-input {
  padding: var(--asc-spacing-s1);
  width: calc(100% - 1rem);

  > div:first-child {
    > div:first-child {
      padding: 0 0.45rem;
    }
  }

  textarea {
    flex: 1 1 auto;
    display: block;
    width: 1%;
    min-width: 0;
    margin: 0;
    padding: 0.563rem 0.563rem;
    background: none;
    border: none;
    box-sizing: border-box;
    outline: none;
    font: inherit;
    resize: vertical;
    color: var(--asc-color-base-inverse);

    &::placeholder {
      font-weight: 400;
    }

    &[disabled] {
      background: none;
    }
  }
}

.live-chat-mention-input__suggestions__list {
  z-index: 999;
  width: 100%;
  position: absolute;
  transform: translateY(1.25rem);
  background-color: var(--asc-color-base-shade4);
  max-height: 8rem;
  overflow: auto;
  border-bottom: 1px solid var(--asc-color-base-shade3);

  /* Use !important to override inline-css at target element */
  /* Keep a position of suggest panel strict with the top of compose bar same as design */
  bottom: 2rem !important;
  left: 0 !important;
}

.mentions_mention {
  position: relative;
  z-index: 1;
  color: var(--asc-color-primary-dark, var(--asc-color-primary-default));
  pointer-events: none;
  background-color: var(--asc-color-base-shade4);
}

.live-chat-mention-input .mentions__highlighter {
  padding: 0 0.4rem;
}
