.socialHomePage {
  display: flex;
  flex-direction: column;
  height: 3.625rem;
  width: 100%;
  background-color: var(--asc-color-base-background);
}

.socialHomePage__topBar {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--asc-color-base-background);
}

.socialHomePage__tabs {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-y: scroll;
  width: 100%;
  padding: 0.75rem 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.socialHomePage__tabs::-webkit-scrollbar {
  display: none;
}

.socialHomePage__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}
