.emptyStateIcon svg {
  font-size: 25px;
}

.wrapEmptyState {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infiniteScrollContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
  background: #f7f7f8;
}
