.commentContent {
  overflow-wrap: anywhere !important;
  word-break: break-word;
  color: var(--asc-color-base-default);
  background-color: var(--asc-color-base-shade4);
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  padding: 0.75rem;
  display: inline-block;
  white-space: pre-wrap;
}

.readMoreButton {
  color: var(--asc-color-primary-default);
  padding: 0 0 0 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
}

.readMoreButton:hover {
  text-decoration: underline;
}
