.actionButton {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
    border: none;
    color: var(--asc-color-base-default);
    background: var(--asc-color-base-background);
    text-align: start;
  }

  .actionIcon {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--asc-color-base-default);
    color: var(--asc-color-base-default);
  }