.avatar {
  margin-right: var(--asc-spacing-s1);
  width: 2rem;
  height: 2rem;
}

.container {
  display: flex;
  gap: var(--asc-spacing-m1);
  width: 100%;
}

.commentDate {
  flex-shrink: 0;
  color: var(--asc-color-base-shade2);
}

.editedMark {
  margin-left: var(--asc-spacing-xxs2);
  color: var(--asc-color-neutral-shade1);
  font-size: var(--asc-text-font-size-sm);
  font-weight: var(--asc-text-font-weight-normal);
  line-height: var(--asc-line-height-sm);
}

.editedMark::before {
  content: '(';
}

.editedMark::after {
  content: ')';
}

.interactionWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--asc-spacing-s2);
}

.reactionsWrapper {
  display: flex;
  align-items: center;
  gap: var(--asc-spacing-s1);
}

.interactionBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--asc-spacing-xxs2) var(--asc-spacing-m1) var(--asc-spacing-s2) 0;
  align-items: center;
}

.commentEditContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--asc-spacing-s1);
}

.buttonContainer > * {
  margin-left: var(--asc-spacing-s1);
}

.commentEditTextarea {
  font-size: var(--asc-text-font-size-md);
  font-weight: var(--asc-text-font-weight-normal);
  line-height: var(--asc-line-height-lg);
  border-radius: 0 var(--asc-border-radius-lg) var(--asc-border-radius-lg);
  height: 7.5rem;
  padding: var(--asc-spacing-s2);
}

.reactionListButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--asc-spacing-s1);
  color: var(--asc-color-base-shade2);
}

.reactionsListButtonWrapper {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.reactionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-left: calc(-1 * var(--asc-spacing-xxs2));
}

.reactionIcon:first-child {
  margin-left: 0;
}

.commentInteractionButton {
  padding: var(--asc-spacing-xxs2);
  display: flex;
  align-items: center;
  gap: var(--asc-spacing-s1);
  color: var(--asc-color-base-shade2);
  cursor: pointer;
  border: none;
}

.likeButton {
  padding: var(--asc-spacing-xxs2);
  color: var(--asc-color-base-shade2);
  border: none;
}

.liked {
  padding: var(--asc-spacing-xxs2);
  color: var(--asc-color-primary-default);
  border: none;
}

.reactionListButton {
  border: none;
  color: var(--asc-color-primary-default);
  padding: var(--asc-spacing-xxs2);
}

.content {
  display: inline-flex;
  flex-direction: column;
  gap: var(--asc-spacing-xxs2);
  width: 100%;
}

.commentHeader {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--asc-spacing-xxs2);
  color: var(--asc-color-base-default);
}

.deletedCommentBlock {
  padding: var(--asc-spacing-m1);
  background-color: var(--asc-color-base-background);
  border-radius: var(--asc-border-radius-sm);
  text-align: center;
  color: var(--asc-color-base-shade2);
}

.moderatorBadge__container {
  display: flex;
  margin-bottom: var(--asc-spacing-xxs2);
}
