.pendingRequestsPage__container {
  position: relative;
  padding-bottom: 1rem;
}

.pendingRequestsPage__topBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: var(--asc-color-background-default);
}

.pendingRequestsPage__titleWrap {
  display: flex;
  align-items: center;
  color: var(--asc-color-base-default);
}

.pendingRequestsPage__emptyDiv {
  width: 1.5rem;
  height: 1.5rem;
}

.pendingRequestsPage__title {
  color: var(--asc-color-base-default);
  margin-right: 0.25rem;
}

.pendingRequestsPage__tabList {
  padding: 0 1rem;
}

.pendingRequestsPage__skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
  margin-top: 0.75rem;
}

@media (width >= 48em) {
  .pendingRequestsPage__topBar {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--asc-color-base-shade4);
    border-bottom: none;
    background-color: var(--asc-color-background-default);
  }

  .pendingRequestsPage__tabList {
    background-color: var(--asc-color-background-default);
    border-radius: 0;
    border: 1px solid var(--asc-color-base-shade4);
  }
}
