.userFollower__container {
  display: flex;
  align-items: center;
}

.userFollower__count {
  color: var(--asc-color-base-default);
  margin-right: 0.25rem;
}

.userFollower__label {
  color: var(--asc-color-base-shade2);
  text-decoration: underline;
}
