.messageItemContainer {
  padding: var(--asc-spacing-s1) var(--asc-spacing-m1);
  display: flex;
  gap: var(--asc-spacing-s1);
}

.messageItemContainerInner {
  position: relative;
}

.messageItemContainerInner[data-reactions='true'] {
  margin-bottom: 1.313rem;
}

.messageBubbleWrap {
  display: flex;
  align-items: flex-end;
  gap: var(--asc-spacing-xxs3);
}

.messageReaction {
  position: absolute;
  bottom: -1.313rem;
}

.messageDeletedBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--asc-spacing-xxs2) var(--asc-spacing-s1);
  background-color: var(--asc-color-base-shade4);
  gap: var(--asc-spacing-xxs2);
  border-radius: var(--asc-border-radius-lg);
  color: var(
    --live-chat-message-list-asc-color-base-inverse,
    var(--live-chat-asc-color-base-inverse, var(--asc-color-base-inverse))
  );
}

.messageOptionsWrap {
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--asc-spacing-xxs2);
}

.binIcon {
  height: 1rem;
  width: 1rem;
  fill: var(
    --live-chat-message-list-asc-color-base-inverse,
    var(--live-chat-asc-color-base-inverse, var(--asc-color-base-inverse))
  );
}

.optionIcon {
  width: auto;
  height: 1.25rem;
}

.flagIcon {
  height: 1rem;
}

.timestamp {
  font-family: var(--asc-text-global-font-family);
  color: var(
    --live-chat-message-list-asc-color-base-shade2,
    var(--live-chat-asc-color-base-shade2, var(--asc-color-base-shade2))
  );
  margin-bottom: var(--asc-spacing-s1);

  /* This value is not available in global css */
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.reactionListSheet {
  z-index: 1001 !important;
  max-height: 85%;
  top: 15% !important;

  @media (width >= 768px) {
    width: 375px !important;
  }
}

.reactionListContainer {
  height: 100% !important;
  background-color: var(--asc-color-base-background) !important;
}

.reactionListBackdrop {
  background-color: var(--asc-color-black) !important;
  opacity: 0.5 !important;
}
