.liveStreamRecordedBadge {
  top: 1rem;
  left: 1rem;
  position: absolute;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  backdrop-filter: blur(5px);
  color: var(--asc-color-white);
  background-color: rgb(from var(--asc-color-black) r g b / 50%);
}
