.allowNotifications {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  align-items: flex-start;
  background: var(--asc-color-surface-list-default-default);
}

.allowNotifications__textBlock {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 0.125rem;
  min-width: 0;
}

.allowNotifications__title {
  color: var(--asc-color-text-list-header-default-default);
}

.allowNotifications__description {
  color: var(--asc-color-text-list-textdescription-default-default);
}

.allowNotifications[data-disabled='true'] .allowNotifications__title {
  color: var(--asc-color-text-list-header-default-disabled);
}

.allowNotifications[data-disabled='true'] .allowNotifications__description {
  color: var(--asc-color-text-list-textdescription-default-disabled);
}
