.errorPostDetail {
  display: flex;
  height: 100dvh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--asc-color-base-shade3);
  background-color: var(--asc-color-background-default);
}

.errorPostDetail__icon {
  width: 3.75rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  fill: var(--asc-color-base-shade4);
}

.errorPostDetail__title {
  margin-bottom: 0.5rem;
}

.errorPostDetail__button {
  margin-top: 1.5rem;
}

@media (width >= 48em) {
  .errorPostDetail {
    height: 17.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
  }
}
