.userProfilePage {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background-color: var(--asc-color-background-default);
  gap: 1rem;
}

.userProfilePage__container {
  flex: 1;
  margin-top: 3.62rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.userProfilePage__container::-webkit-scrollbar {
  display: none;
}

.userProfilePage__topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.625rem;
  padding-inline: 0.75rem 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.userProfilePage__displayName {
  transition: opacity 0.3s;
  opacity: 0;
}

.userProfilePage__displayName[data-show='true'] {
  opacity: 1;
}

.userProfilePage__feedTabs {
  background-color: var(--asc-color-background-default);
  position: sticky;
  top: -0.125rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  padding: 0 1rem;
  z-index: 1;
}

.userProfilePage__floatingButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.userProfilePage__createPostHeader {
  color: var(--asc-color-base-default);
}

.userProfilePage__cardPositioner {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfilePage__card {
  display: flex;
  width: 100%;
  padding: var(--component-card-multipuropse-layout-padding-default, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--global-layout-gap-sm, 00.5rem);
  border-radius: var(--component-card-multipuropse-layout-radius-default, 0.5rem);
  background: var(--component-card-multipuropse-surface-even, #fff);
  box-shadow: var(--effect-elevation-sm-x, 0) var(--effect-elevation-sm-y, 4px)
    var(--effect-elevation-sm-blur, 16px) var(--effect-elevation-sm-spread, 0)
    var(--effect-surface-effect, rgb(0 0 0 / 12%));
}

.userProfilePage__cardContentSection {
  display: flex;
  place-content: flex-start space-between;
  width: 100%;
  gap: 0.5rem;
}

.userProfilePage__cardContentSection__grow {
  flex-grow: 1;
}

.userProfilePage__chipContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.userProfilePage__chip {
  display: flex;
  height: var(--component-form-filter-layout-size-height, 1.875rem);
  padding: 0.5rem var(--component-form-filter-layout-padding-horizontal, 1rem);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--component-form-filter-layout-radius-default, 6.25rem);
  background: var(--component-form-filter-surface-active, #435864);
}

.userProfilePage__chartWrapper {
  border: 1px solid red;
  width: 1200px;
  height: 400px;
}

@media (width >=48em) {
  .userProfilePage {
    background-color: transparent;
  }

  .userProfilePage__topBar {
    background-color: var(--asc-color-background-default);
    position: static;
  }

  .userProfilePage__topSection {
    background-color: var(--asc-color-background-default);
    margin-bottom: 0.75rem;
    overflow: hidden;
    padding: 0 1rem 1rem;
    border-radius: var(--global-image-radius-base, 0.5rem);
    border: 1px solid var(--global-border-neutral, #d3d3d3);
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .userProfilePage__displayName {
    display: none;
  }

  .userProfilePage__container {
    margin-top: 0;
  }

  .userProfilePage__feedTabs {
    position: static;
    border-bottom: none;
  }

  .userProfilePage__floatingButton {
    display: none;
  }

  .userProfilePage__cardPositioner {
    flex-direction: row;
  }

  /* .userProfilePage__card {} */

  .userProfilePage__cardContentSection {
    gap: 1rem;
  }
}
