.userProfilePage {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--asc-color-background-default);
}

.userProfilePage__container {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.userProfilePage__container::-webkit-scrollbar {
  display: none;
}

.userProfilePage__topBar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  height: 3.5rem;
  position: sticky;
  align-items: center;
  padding: 1rem 0.75rem;
  justify-content: space-between;
  background-color: var(--asc-color-background-default);
}

.userProfilePage__displayName {
  opacity: 0;
  transition: opacity 0.3s;
}

.userProfilePage__displayName[data-show='true'] {
  opacity: 1;
}

.userProfilePage__stickyHeader {
  left: 0;
  right: 0;
  z-index: 1;
  top: 3.5rem;
  position: sticky;
}

.userProfilePage__feedTabs {
  gap: 1.25rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  background-color: var(--asc-color-background-default);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.userProfilePage__floatingButton {
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  position: absolute;
}

.userProfilePage__createPostHeader {
  color: var(--asc-color-base-default);
}

.userProfilePage__feedTypePopover {
  display: flex;
}

.userProfilePage__feedTypeButton {
  flex: 1;
  gap: 0.5rem;
  display: flex;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-between;
  color: var(--asc-color-base-shade1);
  background-color: var(--asc-color-background-default);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.userProfilePage__feedTypeButtonIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--asc-color-base-shade1);
}

.userProfilePage__feedTypeRadioGroup {
  padding: 0.5rem 0;
  gap: 0;
  border-radius: 0;
  box-shadow: none;
  min-width: auto;
}

.userProfilePage__feedTypeRadio {
  padding: 1rem 0;
}

@media (width >=48em) {
  .userProfilePage {
    background-color: transparent;
  }

  .userProfilePage__topBar {
    position: static;
    border-radius: 0.5rem 0.5rem 0 0;
    border-top: 1px solid var(--asc-color-base-shade4);
    border-left: 1px solid var(--asc-color-base-shade4);
    border-right: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .userProfilePage__topSection {
    border-left: 1px solid var(--asc-color-base-shade4);
    border-right: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .userProfilePage__displayName {
    display: none;
  }

  .userProfilePage__container {
    margin-top: 0;
  }

  .userProfilePage__feedTabs {
    position: static;
    border-left: 1px solid var(--asc-color-base-shade4);
    border-right: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .userProfilePage__stickyHeader {
    position: static;
    margin-bottom: 0.75rem;
  }

  .userProfilePage__floatingButton {
    display: none;
  }

  .userProfilePage__feedTypeButton {
    justify-content: flex-start;
    border-radius: 0 0 0.5rem 0.5rem;
    border-left: 1px solid var(--asc-color-base-shade4);
    border-right: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .userProfilePage__feedTypeRadioGroup {
    min-width: 20rem;
    border-radius: 0.75rem;
  }

  .userProfilePage__feedTypeRadio {
    padding: 1rem;
  }
}
