.userProfilePage {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-color: var(--asc-color-background-default);
}

.userProfilePage__header {
  background-color: var(--asc-color-base-shade4);
  color: var(--asc-color-black);
  display: flex;
  place-content: flex-start space-between;
  width: 100%;
  gap: 0.5rem;
}

.userProfilePage__container {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.userProfilePage__topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding-inline: 0.75rem 1rem;
  left: 0;
  right: 0;
  top: 0;
}

.userProfilePage__displayName {
  transition: opacity 0.3s;
  opacity: 0;
}

.userProfilePage__displayName[data-show='true'] {
  opacity: 1;
}

.userProfilePage__feedTabs {
  background-color: var(--asc-color-background-default);
  position: sticky;
  top: -0.125rem;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  padding: 0 1rem;
  z-index: 1;
}

.userProfilePage__floatingButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.userProfilePage__createPostHeader {
  color: var(--asc-color-base-default);
}

.userProfilePage__cardPositioner {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfilePage__card {
  display: flex;
  width: 100%;
  padding: var(--component-card-multipuropse-layout-padding-default, 1rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--global-layout-gap-sm, 00.5rem);
  border-radius: var(--component-card-multipuropse-layout-radius-default, 0.5rem);
  background: var(--component-card-multipuropse-surface-even, #fff);
  box-shadow: var(--effect-elevation-sm-x, 0) var(--effect-elevation-sm-y, 4px)
    var(--effect-elevation-sm-blur, 16px) var(--effect-elevation-sm-spread, 0)
    var(--effect-surface-effect, rgb(0 0 0 / 12%));
}

.userProfilePage__cardContentSection {
  display: flex;
  place-content: flex-start space-between;
  width: 100%;
  gap: 0.5rem;
}

.userProfilePage__cardContentSection__grow {
  flex-grow: 1;
}

.userProfilePage__flexContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.75rem 0;
  overflow-x: scroll;
}

.userProfilePage__chip {
  display: flex;
  height: var(--component-form-filter-layout-size-height, 1.875rem);
  padding: 0.5rem var(--component-form-filter-layout-padding-horizontal, 1rem);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--component-form-filter-layout-radius-default, 6.25rem);
  background: var(--component-form-filter-surface-active, #435864);
}

.userProfilePage__chartWrapper {
  width: 100%;
  aspect-ratio: 1.2/1;
  min-width: 150px;
  align-self: center;
  padding: var(--global-layout-gap-md, 0.75rem) 0 var(--global-layout-gap-sm-base, 0.5rem) 0;
}

.userProfilePage__cardBorders {
  background-color: var(--asc-color-background-default);
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.userProfilePage__clientStatus {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
}

.userProfilePage__gameStatCard {
  height: 4rem;
  flex-basis: calc(33.333% - 0.334rem);
  max-width: 8rem;
  padding: 0.25rem 0.5rem 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--colors-neutrals-grey-30, #d9d9d9);
  display: flex;
  align-self: stretch;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .Typography_typography__ticketSizeText {
    margin-top: 0.125rem;
  }
}

.userProfilePage__tipsterSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.userProfilePage__tipsterCard {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  width: 100%;
}

.userProfilePage__mainSportsCard {
  width: 100%;
  overflow-x: hidden;
}

@media (width >=48em) {
  .userProfilePage {
    background-color: transparent;
  }

  .userProfilePage__header {
    background-color: var(--asc-color-white);
    color: var(--asc-color-black);
  }

  .userProfilePage__topBar {
    background-color: var(--asc-color-background-default);
    position: static;
  }

  .userProfilePage__tipsterSection {
    flex-direction: row;
  }

  .userProfilePage__tipsterCard {
    flex-direction: row;
    width: 50%;
  }

  .userProfilePage__mainSportsCard {
    width: 50%;
  }

  .userProfilePage__cardBorders {
    gap: 1rem;
    border-radius: var(--global-image-radius-base, 0.5rem);
    border: 1px solid var(--global-border-neutral, #d3d3d3);
  }

  .userProfilePage__chartCardBorders {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .userProfilePage__displayName {
    display: none;
  }

  .userProfilePage__feedTabs {
    position: static;
    border-bottom: none;
  }

  .userProfilePage__floatingButton {
    display: none;
  }

  .userProfilePage__cardPositioner {
    flex-direction: row;
  }

  .userProfilePage__cardContentSection {
    gap: 1rem;
  }

  .userProfilePage__gameStatCard {
    max-width: 8rem;
  }
}

@media (width <= 64em) {
  .userProfilePage__tipsterSection {
    flex-direction: column;
  }

  .userProfilePage__tipsterCard,
  .userProfilePage__mainSportsCard {
    width: 100%;
  }
}
