.errorButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .addStoryButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  .hiddenInput {
    display: none;
  }
  
  .storyWrapper {
    width: 3rem;
    height: 3rem;
    position: relative;
    cursor: pointer;
  }
  
  .storyTabContainer {
    position: relative;
    width: 3rem;
    display: flex;
    gap: 0.13rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0.75rem;
    align-items: center;
  }
  
  .storyAvatar {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    z-index: 1;
    cursor: pointer;
  }
  
  .storyTitle {
    font-family: var(--asc-text-global-font-family);
    font-size: var(--asc-text-font-size-xs);
    font-weight: var(--asc-text-font-weight-normal);
    line-height: var(--asc-line-height-xs);
    color: var(--asc-color-base-default);
    cursor: pointer;
  }
  
  .addButton {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
  }
  
  @keyframes animateRing {
    0% {
      stroke-dashoffset: 339;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  .progressRing {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
  }
  
  .progressRing.animateRing {
    animation: animateRing 2s linear 0s infinite;
    -webkit-animation: animateRing 2s linear 0s infinite;
    -moz-animation: animateRing 2s linear 0s infinite;
  }