.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.avatarContainer {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.25rem;
}

.verifiedIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  fill: var(--asc-color-primary-default);
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.displayName__container {
  max-width: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayName__container {
  max-width: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayName {
  margin: 0;
  text-align: center;
  max-width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--asc-color-secondary-default);
}

.errorIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.lockIcon {
  width: 0.875rem;
  height: 0.875rem;
  fill: currentcolor;
  flex: 1;
  flex-shrink: 0;
}
