.icon__container {
  display: flex;
  align-items: center;
  align-self: stretch;
  fill: var(--asc-color-white);
}

.icon {
  width: var(--asc-spacing-m2);
  height: var(--asc-spacing-m2);
}

.notifications {
  position: fixed;
  top: 0;
  right: 0;
  left: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  pointer-events: none;
  padding: var(--asc-spacing-m1);
}

.notificationContainer {
  gap: var(--asc-spacing-s1);
  width: 22rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--asc-color-white);
  border-radius: 0.5rem;
  margin-bottom: var(--asc-spacing-m1);
  margin-top: 0;
  animation-duration: 0.3s;
  animation-name: appear;
  pointer-events: auto;
  background-color: var(--asc-color-custom-toast-background);
  padding: 1rem;
  box-shadow: var(--asc-box-shadow-02);
}

.notification__text {
  color: var(--asc-color-white);
}

.toastItem {
  margin-bottom: var(--asc-spacing-m1);
  pointer-events: auto;
  animation-duration: 0.3s;
  animation-name: appear;
}

.toastItem[data-alignment='fullscreen'] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatToast {
  position: fixed;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  pointer-events: auto;
  animation-duration: 0.3s;
  animation-name: appear;
}

.chatToast[data-alignment='with-composer'] {
  bottom: calc(3.5rem + 1rem);
}

.chatToast__toast {
  width: 100%;
}

.notificationContainer[data-alignment='fullscreen'] {
  position: relative;
  left: -9rem;
}

.notificationContainer[data-alignment='fixed'] {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.notificationContainer[data-alignment='live-chat'] {
  right: 2.5rem;
  bottom: 5rem;
  width: 21.4375rem;
  position: fixed;
  background-color: var(--asc-color-base-shade3);
  box-shadow: var(--asc-box-shadow-02);
}

.notificationContainer[data-alignment='livestreamWithChat'] {
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translateX(calc(-50% - 17.5dvw));
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (width < 48em) {
  .notifications {
    top: auto;
    left: 0;
    bottom: 0;
  }

  .notificationContainer {
    width: 100%;
    margin-top: var(--asc-spacing-m1);
    margin-bottom: 0;
  }

  .notificationContainer[data-alignment='fullscreen'] {
    position: unset;
    left: unset;
  }

  .notificationContainer[data-alignment='fixed'] {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }

  .notificationContainer[data-alignment='live-chat'] {
    position: fixed;
    right: 1rem;
    left: 1rem;
    bottom: 4rem;
    width: auto;
    background-color: var(--asc-color-base-shade3);
    box-shadow: var(--asc-box-shadow-02);
  }
}
