.communityMemberItem {
  width: 100%;
  gap: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.communityMemberItem__leftSide {
  flex: 1;
  min-width: 0;
  gap: 0.75rem;
  display: flex;
  align-items: center;
}

.communityMemberItem__memberAvatar {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  align-items: center;
}

.communityMemberItem__memberName {
  color: var(--asc-color-base-default);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--asc-text-font-size-md);
  padding: 0.5rem 0.13rem 0.5rem 0;
}

.communityMemberItem__menuWrapper {
  width: 100%;
  display: block;
}

.communityMemberItem__menu {
  width: 100%;
  gap: 0.75rem;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}

.communityMemberItem__menu:hover {
  background-color: var(--asc-color-background-shade1);
}

.communityMemberItem__bottomSheeticon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
  color: var(--asc-color-base-default);
}

.communityMemberItem__alertText {
  color: var(--asc-color-alert-default);
}

.communityMemberItem__alertbottomSheeticon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-alert-default);
}

.communityMemberItem__bannedIcon {
  width: 1rem;
  height: 0.75rem;
  fill: var(--asc-color-base-shade3);
}

.communityMemberItem__badge {
  margin-right: 0.13rem;
  width: 1rem;
  height: 1rem;
}

@media (width >= 48em) {
  .communityMemberItem__menuWrapper {
    overflow: hidden;
    padding: 0.5rem 0;
  }

  .communityMemberItem__menu {
    padding: 0.75rem 1rem;
  }

  .communityMemberItem__menu:focus-visible {
    background-color: var(--asc-color-background-shade1);
  }
}
