.quickReactionIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--asc-color-base-shade2);
}

.quickReactionIconContainer {
  display: flex;
}

.quickReactionIconContainer:hover {
  cursor: pointer;
  background-color: var(
    --live-chat-message-list-asc-color-secondary-shade4,
    var(--live-chat-asc-color-secondary-shade4, var(--asc-color-secondary-shade4))
  );
  border-radius: var(--asc-border-radius-sm);
}
