.nextButton {
  background-color: var(--asc-color-white);
  border-radius: 1.5rem;
  display: flex;
  gap: 0.12rem;
  padding: 0.63rem 0.5rem 0.63rem 1rem;
}

.nextButton__text {
  color: var(--asc-color-black);
}

.nextButton__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--asc-color-black);
  padding: 0.22rem 0 0.28rem;
}
