.layout {
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  background: var(--asc-color-background-shade1);
}

.layout__aside {
  width: 18rem;
}

.layout__main {
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  padding: 3.375rem 5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.layout__main::-webkit-scrollbar {
  display: none;
}

@media (width < 48em) {
  .layout {
    grid-template-columns: 1fr;
    background: var(--asc-color-background-default);
  }

  .layout__aside {
    display: none;
  }

  .layout__main {
    padding: 0;
    max-width: unset;
  }
}
