.reactionPickerContainer {
  display: flex;
  cursor: pointer;
  background-color: var(--asc-color-base-shade4);
  border-radius: var(--asc-border-radius-full);
  gap: var(--asc-spacing-xxs3);
  width: max-content;
  padding: 0.313rem 0.438rem;
}

.reactionButton {
  width: 2rem;
  height: 2rem;
  border: 0.313rem var(--asc-color-base-shade4) solid;
  border-radius: var(--asc-border-radius-full);
}

.reactionButton[data-active='true'] {
  border-radius: var(--asc-border-radius-full);
  border: 0.313rem var(--asc-color-base-shade1) solid;
}

.reactionButton[data-active='true']:hover {
  border-radius: var(--asc-border-radius-full);
  border: 0.313rem var(--asc-color-base-shade1) solid;
}

.reactionButton:hover {
  border-radius: var(--asc-border-radius-full);
  border: 0.313rem var(--asc-color-secondary-shade3) solid;
}
