.optionButton {
  display: flex;

  :hover {
    cursor: pointer;
    background-color: var(
      --live-chat-message-list-asc-color-secondary-shade4,
      var(--live-chat-asc-color-secondary-shade4, var(--asc-color-secondary-shade4))
    );
    border-radius: var(--asc-border-radius-sm);
  }
}

.optionIcon {
  fill: var(
    --live-chat-message-list-asc-color-secondary-shade2,
    var(--live-chat-asc-color-secondary-shade2, var(--asc-color-secondary-shade2))
  );
  width: auto;
  height: 1.25rem;
}

.reactionIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.timestamp {
  font-family: var(--asc-text-global-font-family);
  color: var(
    --live-chat-message-list-asc-color-base-shade2,
    var(--live-chat-asc-color-base-shade2, var(--asc-color-base-shade2))
  );
  font-size: 0.5rem;
  line-height: 0.75rem;
  margin-bottom: var(--asc-spacing-s1);
}

.messageActionButton {
  cursor: pointer;
  display: flex;
  padding: var(--asc-spacing-s2) var(--asc-spacing-m1);
  justify-content: space-between;
}

.messageActionButtonText {
  color: var(
    --live-chat-message-list-asc-color-base-inverse,
    var(--live-chat-asc-color-base-inverse, var(--asc-color-base-inverse))
  );
}

.messageDangerActionButtonText {
  color: var(
    --live-chat-message-list-asc-color-alert,
    var(--live-chat-asc-color-alert, var(--asc-color-alert))
  );
}

.copyIcon {
  fill: var(
    --live-chat-message-list-asc-color-base-inverse,
    var(--live-chat-asc-color-base-inverse, var(--asc-color-base-inverse))
  );
}

.replyIcon {
  fill: var(
    --live-chat-message-list-asc-color-base-inverse,
    var(--live-chat-asc-color-base-inverse, var(--asc-color-base-inverse))
  );
}

.binIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(
    --live-chat-message-list-asc-color-alert,
    var(--live-chat-asc-color-alert, var(--asc-color-alert))
  );
}

.mentionIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.flagIcon {
  width: 1rem;
}
