.userSearchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  background-color: var(--asc-color-background-default);
  overflow-x: hidden;
}
