.settingMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background: var(--asc-color-surface-list-default-default);
  border: none;
  cursor: pointer;
}

.settingMenu__leading {
  display: flex;
  flex: 1 0 0;
  min-width: 0;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
}

.settingMenu__iconBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  background: var(--asc-color-surface-featuredicon-tinted);
  border-radius: 0.5rem;
}

.settingMenu__icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-icon-featuredicon-tinted);
  fill: var(--asc-color-icon-featuredicon-tinted);
}

.settingMenu__label {
  color: var(--asc-color-text-list-header-default-default);
}

.settingMenu__destructiveLabel {
  color: var(--asc-color-text-list-header-destructive-default);
  fill: var(--asc-color-text-list-header-destructive-default);
}

.settingMenu__trailing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.settingMenu__trailingText {
  color: var(--asc-color-text-list-trailing-text-general);
}

.settingMenu__chevron {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-icon-list-leading-default-default);
  fill: var(--asc-color-icon-list-leading-default-default);
}
