.liveStreamTerminatedPage {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
}

.liveStreamTerminatedPage__header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.liveStreamTerminatedPage__terminatedContent {
  gap: 0.5rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--asc-color-base-shade4);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.liveStreamTerminatedPage__terminatedIcon {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--asc-color-base-default);
}

.liveStreamTerminatedPage__content__description {
  color: var(--asc-color-base-shade1);
}

.liveStreamTerminatedPage__playbackContent {
  gap: 1rem;
  display: flex;
  padding: 1.5rem 1rem;
  flex-direction: column;
}

.liveStreamTerminatedPage__playback {
  gap: 0.5rem;
  display: flex;
}

.liveStreamTerminatedPage__deletedIcon {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--asc-color-base-default);
}

.liveStreamTerminatedPage__footer {
  padding: 1rem;
  border-top: 1px solid var(--asc-color-base-shade4);
}
