.calendar {
  display: flex;
  flex-direction: column;
  background-color: var(--asc-color-background-default);
  padding: 1rem 0;
}

.calendar__subHeader {
  display: flex;
  justify-content: space-between;
}

/* Navigation buttons */
.calendar__navRight {
  fill: var(--asc-color-primary-default);
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(180deg);
}

.calendar__navLeft {
  fill: var(--asc-color-primary-default);
  width: 1.5rem;
  height: 1.5rem;
}

.calendar__navButton:disabled .calendar__navLeft,
.calendar__navButton:disabled .calendar__navRight {
  fill: var(--asc-color-base-shade4);
  cursor: not-allowed;
}

/* Calendar heading */
.calendar__heading {
  color: var(--asc-color-base-default);
  text-align: center;
  font-size: 1rem;
  font-weight: 590;
  line-height: 1.375rem;
}

/* Calendar grid */
.calendar__grid {
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  place-items: center center;
}

/* Calendar cell */
.calendar__cell {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
}

/* Today's date styling */
.calendar__cell[data-istoday='true'] {
  color: var(--asc-color-primary-default);
}

/* Selected date styling */
.calendar__cell:hover,
.calendar__cell[data-selected='true'] {
  background-color: var(--asc-color-primary-shade3);
  color: var(--asc-color-highlight-default);
  border-radius: 50%;
  font-weight: 500;
  outline: none;
  border: none;
}

.calendar__cell[aria-disabled='true'] {
  color: var(--asc-color-base-shade4);
  background-color: transparent;
  cursor: not-allowed;
  pointer-events: none;
}

.calendar__buttonWrap {
  display: flex;
  gap: 0.75rem;
}
