.editorPlaceholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 0;
  user-select: none;
  pointer-events: none;
}

.editorParagraph {
  height: 100%;
  width: 100%;
  color: var(--asc-color-base-default);
}

.editorParagraph span {
  color: var(--asc-color-base-default);
}

.editorContainer {
  width: 100%;
  height: 100%;
  color: var(--asc-color-base-default);
  max-height: calc(var(--asc-line-height-md) * var(--var-max-lines) + (0.62rem * 2));

  /* padding: 0.62rem 1rem; */
  position: relative;

  p {
    line-height: var(--asc-line-height-md);
    font-size: var(--asc-text-font-size-md);
    margin: 0;
  }
}

.editorEditableContent {
  height: max-content;
  max-height: calc(var(--asc-line-height-md) * var(--var-max-lines));
  overflow-y: scroll;
}

.editorContainer :focus {
  border: none;
  outline: none;
}
