.selectedUsersBar {
  background-color: var(--asc-color-surface-page-background-default);
}

.selectedUsersBar__list {
  display: flex;
  gap: 0.25rem;
  padding: 0.5rem;
  overflow-x: auto;
}

.selectedUsersBar__divider {
  height: 0.0625rem;
  background-color: var(--asc-color-line-divider-post-default);
}
