.chatItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0 18px 0 16px;
  border-radius: 0;
}

.chatItemLeft {
  display: flex;
  align-items: center;
}

.avatar {
  flex-shrink: 0;
}

.title {
  width: 135px;

  /* theme.typography.bodyBold */
  line-height: 20px;
  text-align: left;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 8px;
}

.unreadCount {
  flex-shrink: 0;
  height: 20px;
  padding: 1px 6px;
  font-size: 13px;
  color: #fff;
  background: #f9563a;
  border-radius: 20px;
}
