.pendingUserButton {
width: 8.25rem;
  position: relative;
  padding: 0.63rem 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: 1px solid var(--asc-color-primary-shade1);
  text-wrap: nowrap;
  background-color:var(--asc-color-primary-shade2);

}

.pendingUserButton__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


