.storyWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2rem;
    gap: 1rem;
    background-color: var(--color-black);
  }
  
  .mobileSheet {
    margin: 0 auto;
    width: 100%;
  }
  
  .mobileSheet .reactModalSheetContent {
    position: relative;
    padding: 0 1rem;
  }
  
  .replyingBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: var(--color-gray-light);
  }
  
  .storyDisabledCommentComposerBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.625rem 1rem;
    border-top: 1px solid var(--color-gray-lighter);
    color: var(--color-base-shade2);
    font-family: var(--typography-body-font-family);
    font-size: var(--typography-body-font-size);
    font-weight: var(--typography-body-font-weight);
    line-height: var(--typography-body-line-height);
  }
  
  .storyCommentComposerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    background-color: var(--color-black);
    color: var(--color-white);
  }
  
  .mobileSheetContent {
    position: relative;
    padding: 0 1rem;
  }
  
  .mobileSheetScroller {
    height: calc(100% - 4.5rem);
  }
  
  .mobileSheetComposeBarContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99999;
  }
  
  .mobileActionSheetContent {
    padding: 1rem;
  }
  
  .closeButton {
    color: var(--color-white);
    cursor: pointer;
  }
  
  .verifiedBadge {
    color: var(--color-white);
  }
  
  .dotsButton {
    cursor: pointer;
    color: var(--color-white);
  }
  
  .viewCountIcon {
    color: var(--color-gray-shade3);
  }
  
  .storyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .viewStoryInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  
  .storyTabBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: 5rem;
  }
  
  .viewStoryCompostBarContainer {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding: 0.75rem;
    background-color: var(--color-black);
    bottom: 0;
  }
  
  .viewStoryCompostBarViewIconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    gap: 0.25rem;
  }
  
  .viewStoryCompostBarEngagementContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    gap: 0.75rem;
  }
  
  .viewStoryCompostBarEngagementIconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    gap: 0.25rem;
    border-radius: 50%;
    padding: 0.5rem 0.625rem;
    background-color: var(--color-base-default);
  }
  
  .storyContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: 5rem;
  }
  
  .viewStoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .viewStoryContent {
    position: relative;
    width: 23.438rem;
    height: 40.875rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
  }
  
  .viewStoryOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 16%) 55.05%, rgb(255 255 255 / 0%) 96.52%);
    z-index: 3;
  }
  
  .viewStoryHeaderContainer {
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 1rem 0.625rem;
    gap: 0.5rem;
  }
  
  .avatarContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
  }
  
  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  
  .viewStoryHeaderListActionsContainer {
    display: flex;
    gap: 1.25rem;
    justify-content: flex-end;
    align-items: center;
  }
  
  .viewStoryHeadingInfoContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.75rem;
    align-items: center;
  }
  
  .viewStoryHeading {
    display: flex;
    gap: 0.25rem;
    color: var(--color-white);
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.24px;
    margin-right: 0.25rem;
    align-items: center;
  }
  
  .viewStorySubheading {
    display: inline-flex;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
    color: var(--color-white);
    font-size: 0.813rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.1px;
  }
  
  .viewStoryImageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .viewStoryImageContent {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .viewStoryVideoContent {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  
  .viewStoryContentContainer {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  
  .tabBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
  }
  
  .flexContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  .actionList {
    list-style: none;
  }
  
  .actionItem {
    margin-bottom: 0.75rem;
  }
  
  .actionButton {
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    justify-content: flex-start;
  }
  
  .deleteIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-base-default);
  }
  
  .mobileSheetHeader {
    text-align: center;
    border-bottom: 1px solid var(--color-gray-lighter);
    padding-bottom: 0.5rem;
    color: var(--color-base-default);
    font-family: var(--typography-title-font-family);
    font-size: var(--typography-title-font-size);
    font-weight: var(--typography-title-font-weight);
    line-height: var(--typography-title-line-height);
  }
  
  .storyActionItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
  
  .storyActionItemText {
    color: var(--color-base-main);
    font-family: var(--typography-body-bold-font-family);
    font-size: var(--typography-body-bold-font-size);
    font-weight: var(--typography-body-bold-font-weight);
    line-height: var(--typography-body-bold-line-height);
  }
  
  .storyArrowButton{
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .hiddenInput {
    display: none;
  }

