.memberTabs__list {
  position: sticky;
  top: 3.625rem;
  z-index: 9;
  background-color: var(--asc-color-surface-list-default-default);
}

.memberTabs__panel {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.memberTabs__searchBar {
  position: sticky;
  top: 7rem;
  z-index: 8;
  padding: 0.5rem 1rem;
  background-color: var(--asc-color-surface-page-background-default);
}
