

.reactionListContainer {
    display: flex;
    flex-direction: column;
    gap: var(--asc-spacing-m);
  }
  
  .tabList {
    display: flex;
    gap: var(--asc-spacing-s1);
    border-bottom: 1px solid var(--asc-color-base-shade3);
    padding-bottom: var(--asc-spacing-s1);
  }
  
  .tabItem {
    cursor: pointer;
    padding: var(--asc-spacing-xxs2) var(--asc-spacing-s1);
    border-radius: var(--asc-border-radius-sm);
    background-color: var(--asc-color-base-inverse);
    color: var(--asc-color-base-shade6);
  }
  
  .tabItem.active {
    background-color: var(--asc-color-base-shade4);
    color: var(--asc-color-base-inverse);
  }
  
  .reactionEmoji {
    display: flex;
    align-items: center;
    gap: var(--asc-spacing-xxs)
  }
  
  .tabCount {
    font-size: 0.8rem;
    background-color: var(--asc-color-base-shade4);
    color: var(--asc-color-base-inverse);
    padding: 0.1rem 0.3rem;
    border-radius: var(--asc-border-radius-sm);
  }
  
  .userList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--asc-spacing-s1);
  }
  
  .userItem {
    display: flex;
    align-items: center;
    gap: var(--asc-spacing-s1);
    background-color: var(--asc-color-base-inverse);
    padding: var(--asc-spacing-s1);
    border-radius: var(--asc-border-radius-sm);
    width: 100%;
  }
  
  .userDetailsContainer {
    display: flex;
    align-items: center;
    gap: var(--asc-spacing-s1);
  }