.invitation {
  width: 100%;
  background-color: color-mix(in srgb, var(--asc-color-primary-default) 20%, transparent);

  &[data-seen='true'] {
    background-color: var(--asc-color-background-default);
  }

  & .invitation__content {
    gap: 0.75rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  & .invitation__user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  & .invitation__avatar {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
  }

  & .invitation__actions {
    gap: 0.5rem;
    display: grid;
    padding: 0 1rem 1rem 3.75rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
