.muteButton__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(from var(--asc-color-black) r g b / 50%) !important;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0.25rem;
}

.muteButton__icon {
  border-radius: 6.1875rem;
  fill: var(--asc-color-white);
  color: var(--asc-color-white);
}
