.communityMediaFeed {
  padding: 0 0 0.75rem;
}

.communityMediaFeed__tabs {
  gap: 0.5rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: var(--asc-color-background-default);
}

.communityMediaFeed__content {
  gap: 0.5rem;
  display: grid;
  padding: 0 1rem;
}

@media (width >= 48em) {
  .communityMediaFeed {
    padding: 0.75rem 0;
  }

  .communityMediaFeed__tabs {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--asc-color-base-shade4);
    border-bottom: none;
  }

  .communityMediaFeed__content {
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
    border-top: none;
  }
}
