.menuButton[data-variant='default'] {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
}

.menuButton[data-variant='filled'] {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
  justify-content: center;
  background-color: var(--asc-color-background-transparent-black);
}

.menuButton[data-focus-visible] {
  outline: 2px solid var(--asc-color-primary-default);
}

.menuButton__icon[data-variant='default'] {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

.menuButton__icon[data-variant='filled'] {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-white);
}
