.commentList__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentList__viewAllComments__button {
  width: 100%;
  padding: var(--asc-spacing-s2) 0;
  margin: auto;
  border-top: 0.0625rem solid var(--asc-color-base-shade4);
  cursor: pointer;
  text-align: center;
}

.commentList__viewAllComments__button__text {
  color: var(--asc-color-base-default);
}

.commentList__container_intersection {
  height: 1px;
}

.noCommentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--asc-color-base-shade2);
  height: 60vh;
}

.noCommentsContainer__icon {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--asc-color-base-shade3);
}

@media only screen and (width >= 48em) {
  .noCommentsContainer {
    height: 35vh;
  }
}

.commentList__highlightedComment {
  transition: background-color 0.3s ease;
}

.commentList__bounceAnimation {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(-5px);
  }
}
