.hyperlinkFormContainer {
  padding: var(--asc-spacing-m1);
  border-radius: var(--asc-border-radius-md);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--asc-spacing-l1);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--asc-spacing-xxs2);
}

.input {
  width: 100%;
  padding: var(--asc-spacing-s1);
  border: none;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  outline: none;
  color: inherit;
  background-color: transparent;
}

.input.hasError {
  border-bottom-color: var(--asc-color-alert);
}

.label {
  display: block;
}

.label::after {
  content: none;
  color: var(--asc-color-alert);
}

.label.required::after {
  content: '*';
}

.description {
  color: var(--asc-color-base-shade2);
}

.errorText {
  color: var(--asc-color-alert);
}

.characterCount {
  color: var(--asc-color-base-shade1);
  text-align: right;
  margin-top: 0.3rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--asc-spacing-m1);
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  color: var(--asc-color-base-default);
}

.styledSecondaryButton {
  color: var(--asc-color-base-default);
}

.removeIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-alert);
}

.removeLinkButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--asc-spacing-s1);
  color: var(--asc-color-alert) ;
  border-radius: 0;
  background-color: transparent;
  transition: color 0.3s ease;
  border: none;
  font-weight: var(--asc-text-font-weight-normal);
}

.divider {
  width: 100%;
  height: 0.0625rem;
  align-self: stretch;
  background-color: var(--asc-color-base-shade4);
}
