.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: var(--asc-color-primary-shade3);
  color: var(--asc-color-primary-main);
  border-radius: 20px;
  padding: 0 6px 0 4px;
}
