.clipFeedMenu__container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: var(--asc-color-white);
  bottom: 5.75rem;
  right: 1rem;
  gap: 1.5rem;
}

.clipFeedMenu__reactionButton {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--asc-color-white);
  gap: 0.25rem;
}

.clipFeedMenu__reactionButtonIcon {
  width: 2rem;
  height: 1.75rem;
}

.clipFeedMenu__reactButton {
  max-width: 2rem;
  max-height: 2rem;
}

.clipFeedMenu__reactionsCount[data-has-my-reaction='true'],
.clipFeedMenu__reactionsCount[data-has-my-reaction='false'] {
  color: var(--asc-color-white);
}

.clipFeedMenu__reactionButtonIcon[data-has-my-reaction='false'] {
  fill: var(--asc-color-white);
}

.clipFeedMenu__commentButton {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--asc-color-white);
  gap: 0.25rem;
}

.clipFeedMenu__commentIcon {
  width: 2rem;
  height: 2rem;
  fill: var(--asc-color-white);
  padding: 0.14rem 0 0.1rem;
}

.clipFeedMenu__commentsCount {
  color: var(--asc-color-white);
}

.clipFeedMenu__muteButton {
  background-color: unset !important;
  padding: unset;
  border-radius: unset;
}

.clipFeedMenu__muteIcon {
  width: 2rem;
  height: 2rem;
  fill: var(--asc-color-white);
}

.clipFeedMenu__menuButton {
  fill: var(--asc-color-white);
}

.clipFeedMenu__menuIcon {
  width: 2rem;
  height: 2rem;
  padding: 0.15rem;
  fill: var(--asc-color-white);
}

.clipFeedMenu__menuButton:hover {
  background-color: unset;
  border-radius: unset;
}

.clipFeedMenu__menuButton[data-focus-visible] {
  outline: none;
}

.clipFeedMenu__viewPostButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  cursor: pointer;
  width: 100%;
}

.clipFeedMenu__viewPostIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-base-default);
}

.clipFeedMenu__viewPostText {
  color: var(--asc-color-base-default);
}

.clipFeedMenu__commentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.clipFeedMenu__commentContainer[data-no-comment='true'] {
  height: 60vh;
}

.clipFeedMenu__commentListContainer {
  max-height: calc(100vh - 10rem);
  height: 100%;
}

.clipFeedMenu__commentComposer {
  border-top: 1px solid var(--asc-color-base-shade4);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
