.liveStreamThumbnailContainer {
  position: relative;
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  overflow: hidden;
}

.liveStreamThumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
