/* LivestreamStoryRing Component Styles */

.livestreamStoryRing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.livestreamStoryRing__ring {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0.125rem solid var(--asc-color-live);
  background-color: var(--asc-color-white);
  width: 4rem;
  height: 4rem;
}

.livestreamStoryRing__ring[data-community='true'] {
  position: unset;
  width: 2.875rem;
  height: 2.875rem;
}

.livestreamStoryRing__ringWrapper {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.livestreamStoryRing__liveBadge {
  position: absolute;
  border: 1.5px solid var(--asc-color-white);
  top: 0;
  left: 50%;
  transform: translate(-50%, -2px);
  z-index: unset !important;
  backdrop-filter: unset !important;
}

.livestreamHeader__event__thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.livestreamStoryRing__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--asc-color-white);
  border: 2px solid var(--asc-color-white);
}

.livestreamStoryRing__userAvatar__container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--asc-color-white);
}

.livestreamStoryRing__community__userAvatar {
  width: 2.5rem;
  height: 2.5rem;
}

.livestreamStoryRing__liveIcon__container {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--asc-color-white);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--asc-color-live);
}

.livestreamStoryRing__liveIcon {
  width: 0.75rem;
  height: 0.625rem;
  padding: 0.0625rem 0;
  fill: var(--asc-color-white);
}

.livestreamStoryRing__userAvatar {
  width: 100%;
  height: 100%;
}

.livestreamStoryRing__userName {
  color: var(--asc-color-base-default);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 3rem;
}
