.floatingActionButton {
  right: 1rem;
  width: 4rem;
  z-index: 50;
  bottom: 1rem;
  height: 4rem;
  border: none;
  display: flex;
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: var(--asc-box-shadow-04);
  background-color: var(--asc-color-primary-default);
}

.floatingActionButton__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--asc-color-white);
}

.floatingActionButton:hover {
  background-color: var(--asc-color-primary-background-hover);
}

.floatingActionButton:active {
  background-color: var(--asc-color-primary-background-pressed);
}
