.addMemberButton__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1rem;
  background-color: var(--asc-color-surface-page-background-default);
  border-top: 0.0625rem solid var(--asc-color-line-divider-post-default);
}

.addMemberButton {
  width: 100%;
}
