.emptyCommunity {
  gap: 1rem;
  display: flex;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 4rem);
  background-color: var(--asc-color-background-default);
}

@media (width >= 48em) {
  .emptyCommunity {
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
  }
}
