.editGroupNotification {
  display: block;
  width: 100%;
  min-height: 100svh;
  background: var(--asc-color-surface-page-background-default);
}

.editGroupNotification__radios {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editGroupNotification__radio {
  align-items: flex-start;
  padding: 1rem;
  background: var(--asc-color-surface-list-default-default);
  cursor: pointer;
}
