.editGroupNotification {
  display: block;
  width: 100%;
  background: var(--asc-color-background-default);
}

.editGroupNotification__radios {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editGroupNotification__radio {
  align-items: flex-start;
  padding: 1rem;
  cursor: pointer;
}

.editGroupNotification__saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--asc-color-primary-default);
}

.editGroupNotification__saveButton[data-disabled='true'] {
  color: var(--asc-color-primary-shade2);
  cursor: not-allowed;
}

.editGroupNotification__saveLabel {
  color: inherit;
}
