.mediaFeedSkeleton {
  gap: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mediaFeedSkeleton__item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 0.5rem;
  animation: pulse 1.5s ease-in-out infinite;
  background-color: var(--asc-color-base-shade4);
}

@media (width >= 48em) {
  .mediaFeedSkeleton {
    grid-template-columns: repeat(3, 1fr);
  }
}
