.communityPrivacyPrivateIcon_iconWrapper {
  background-color: var(--asc-color-base-shade4);
  border-radius: 50%;
  min-width: 2.5rem;
  max-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communityPrivacyPrivateIcon_icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}
