.liveStreamTerminatedThumbnail {
  inset: 0;
  gap: 0.25rem;
  height: 100%;
  z-index: 100;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  object-position: center;
  color: var(--asc-color-white);
  background-color: var(--asc-color-black);
}

.liveStreamTerminatedThumbnail__text {
  padding: 0 1rem;
  max-width: 23rem;
}
