.checkboxGroup {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  color: var(--asc-color-text-list-header-default-default);
}

.checkBox[data-alignment='row-reverse'] {
  flex-direction: row-reverse;
}

.checkBox[data-alignment='row'] {
  flex-direction: row;
}
