.closeButton {
  all: unset;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.closeButton__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

@media (width >= 48em) {
  .closeButton[data-focus-visible] {
    border-radius: 100%;
    outline: 1px solid var(--asc-color-primary-default);
  }
}
