/* MessageOptions Component Styles */

.messageOptions {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  overflow: hidden;
}

@media screen and (width >= 48em) {
  .messageOptions {
    padding: 0.5rem 0;
  }
}
