.actionButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--base-inverse-default);
  cursor: pointer;
  padding: 0.1875rem 0rem;
  border-radius: 50%;
  transition: background-color 0.3s;
  flex-shrink: 0;
}
