.changeAvatarPage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem 2.5rem;
  width: 100%;
}

.cropperContainer {
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

@media (width >= 48rem) {
  .changeAvatarPage {
    max-width: 100%;
  }
}
