.pendingPostList__wrapper:last-of-type {
  border-bottom: none;
}

.pendingPostList__noJoinRequest {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 13rem);
  background-color: var(--asc-color-background-default);
}

.pendingPostList__fireworkIcon {
  fill: var(--asc-color-secondary-shade4);
  width: 3.75rem;
  height: 3.75rem;
}

.pendingPostList__noJoinRequestText {
  color: var(--asc-color-base-shade3);
}

@media (width >= 48em) {
  .pendingPostList__wrapper {
    margin-top: 0.75rem;
  }

  .pendingPostList__noJoinRequest {
    height: calc(100vh - 10rem);
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }
}
