.userProfileHeader__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--asc-color-background-default);
}

.userProfileHeader__header {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.userProfileHeader__leftWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.userProfileHeader__rightWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  height: 52px;
  align-self: center;
}

.userProfileHeader__displayName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.userProfileHeader__nameRow {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.userProfileHeader__avatar {
  width: 5rem !important;
  height: 5rem !important;
  font-size: 2rem;
  flex-shrink: 0;
}

.userProfileHeader__avatar__placeholder {
  font-weight: 400;
  font-size: 2rem !important;
}

.userProfileHeader__badge__container {
  min-height: 100%;
  display: flex;
  align-items: center;
}

.userProfileHeader__badge {
  width: 1.25rem;
  height: 1.25rem;
}

.userBadge {
  display: flex;
  padding: 5px 6px;
  justify-content: center;
  align-items: center;
  gap: 0.0625rem;
  background-color: var(--asc-color-secondary-default);
  border-radius: 100px;
  width: fit-content;
  color: var(--global-text-default, #222);
  font-family: var(--typography-scale-body-caption-bold-family, Roboto);
  font-size: var(--typography-scale-body-caption-bold-size, 12px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-scale-body-caption-bold-line-height, 14px);
}

.userProfileHeader__button {
  display: flex;
  align-self: flex-start;
  gap: 0.75rem;
  padding: 0 !important;
  cursor: pointer;
  border: none;
  background: transparent !important;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.userProfileHeader__button:hover {
  background-color: var(--asc-color-base-shade4) !important;
}

.userProfileHeader__button .userProfileHeader__editProfile__icon {
  width: 1.5rem !important;
  height: 1.5rem !important;
  fill: var(--asc-color-base-default) !important;
  color: var(--asc-color-base-default) !important;
}

.userProfileHeader__editProfile__text {
  color: var(--asc-color-base-default);
}

.userProfileHeader__description {
  margin: 0.5rem 0;
  color: var(--asc-color-base-default);
}

.userProfileHeader__relationship {
  display: flex;
  gap: 0.75rem;
}

.userProfileHeader__relationship__separator {
  width: 0.0625rem;
  height: 1.25rem;
  background-color: var(--asc-color-base-shade4);
}

.userProfileHeader_bottomPositioner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.75rem;
  gap: 1rem;
}

.userProfileHeader__relationshipButtons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

@media (width <= 768px) {
  .userProfileHeader_bottomPositioner {
    flex-direction: column;
    align-items: flex-start;
  }

  .userProfileHeader__relationshipButtons {
    margin-top: 0.75rem;
    width: 100%;
  }
}

.userProfileHeader__skeleton {
  width: 100%;
  padding: 0 1rem;
}

.userProfileHeader__skeleton__header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.userProfileHeader__skeleton__avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--asc-color-base-shade4);
  margin-right: 0.75rem;
}

.userProfileHeader__skeleton__displayName {
  height: 0.75rem;
  width: 60%;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
}

.userProfileHeader__skeleton__about {
  height: 0.5rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
}

.userProfileHeader__skeleton__avatar,
.userProfileHeader__skeleton__displayName,
.userProfileHeader__skeleton__about,
.userProfileHeader__skeleton__relationship__text {
  animation: pulse 1.5s ease-in-out infinite;
}

.userProfileHeader__skeleton__about:nth-child(1) {
  margin: 1.37rem;
  width: 60%;
}

.userProfileHeader__skeleton__about:nth-child(2) {
  width: 80%;
}

.userProfileHeader__skeleton__relationship {
  margin: 0.5rem 0;
  width: 100%;
}

.userProfileHeader__skeleton__relationship__text {
  display: inline-block;
  width: 3.375rem;
  height: 0.75rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
  margin-right: 0.75rem;
}

.userProfileHeader__popOver__container {
  padding: 0.5rem 0;
  width: 15rem;
}

.userProfileHeader__unFollowButton {
  padding: 0 1.25rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.75rem;
}

.userProfileHeader__unFollowButton__icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-base-default);
}

.userProfileHeader__unFollowButton__text {
  color: var(--asc-color-base-default);
}

.pendingCountButton {
  width: 100%;
  padding: 0.75rem 1rem;
  height: 3.875rem;
  border-radius: 0.5rem;
  background-color: var(--asc-color-background-shade1);
  box-sizing: border-box;
}

.pendingCountButton__inner {
  text-align: center;
}

.pendingCountButton__notification {
  display: inline-block;
}

.pendingCountButton__notification__icon {
  width: 0.375rem;
  height: 0.375rem;
  margin-right: 0.38rem;
  fill: var(--asc-color-primary-default);
  vertical-align: middle;
}

.pendingCountButton__notification__text {
  color: var(--asc-color-base-default);
}

.pendingCountButton__notification__requestCount {
  color: var(--asc-color-base-shade2);
}

@media screen and (width >=48em) {
  .userProfileHeader__unFollowButton {
    padding: 0.75rem 1rem;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
