.overlay {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgb(from var(--asc-color-black) r g b / 50%);
}

.overlay[data-entering] {
  animation: overlay-fade 0ms;
}

.overlay[data-exiting] {
  animation: overlay-fade 250ms reverse ease-in;
}

.popup {
  outline: none;
  max-width: 20rem;
  max-height: 80vh;
  border-radius: 0.75rem;
  background: var(--asc-color-background-default);
}

.popup[data-entering] {
  animation: popup-zoom 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dialog {
  outline: none;
}

.popup__header {
  display: flex;
  align-items: start;
  padding: 1.25rem 1.5rem;
  justify-content: space-between;
}

.popup__header__title {
  font-size: 1.25rem;
  color: var(--asc-color-base-default);
}

.popup__header__closeButton {
  fill: var(--asc-color-base-shade3);
}

.popup__content {
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0.5rem 1.5rem;
  color: var(--asc-color-base-shade1);
}

.popup__footer {
  gap: 0.75rem;
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem 1.5rem;
}

.popup__footer__okButton {
  width: 100%;
}

.popup__footer__okText {
  color: var(--asc-color-white);
}

.popup__footer__cancelButton {
  width: 100%;
}

.popup__footer__okButton:hover {
  opacity: 0.7;
}

.popup__footer__cancelButton:hover {
  opacity: 0.7;
  color: var(--asc-color-secondary-shade1);
}

@keyframes overlay-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popup-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@media (width >= 48em) {
  .popup {
    max-width: 25rem;
    min-width: 25rem;
  }

  .popup__header__closeButton[data-focus-visible] {
    outline: 1px solid var(--asc-color-base-shade2);
  }

  .popup__footer {
    justify-content: flex-end;
  }

  .popup__footer__okButton[data-focus-visible] {
    opacity: 0.7;
  }

  .popup__footer__cancelButton[data-focus-visible] {
    opacity: 0.7;
    color: var(--asc-color-secondary-shade1);
  }
}
