.modal {
  max-width: 22.5rem;
}

.background {
  background-color: var(--asc-color-base-background);
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.okButton {
  background: var(--asc-color-alert);
  border: none;
}

.cancelButton {
  margin-right: var(--asc-spacing-s1);
  background: transparent;
  color: var(--asc-color-secondary-default);
  border: 1px solid var(--asc-color-base-shade1);
}

.cancelButton:hover {
  color: var(--asc-color-secondary-default);
}
