.mentionContainer {
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.mentionContainer__inner {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--asc-color-background-default);
  overflow: hidden;
  box-shadow:
    0 4px 24px 4px var(--asc-color-elevation-08-01),
    0 32px 64px -12px var(--asc-color-elevation-08-02),
    0 6px 6px -4px var(--asc-color-elevation-08-03);
}

.mentionContainer__inner[data-user-only='true'] {
  height: 11.5rem;
  overflow: scroll;
}

.mentionTabs {
  width: 100%;
  gap: 0;
}

.mentionTabs__tabList {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.mentionTabs__tabPanel {
  max-height: 11.5rem;
  overflow: hidden auto;
}

.mentionList {
  display: flex;
  flex-direction: column;
}

.mentionList__userMentionList__skeletonItem {
  padding: 0.75rem;
}

.mentionList__productMentionList__skeletonItem {
  padding: 0.75rem;
}

.mentionList__noResult {
  height: 100%;
  padding: 2rem; /* 32px */
}

.emptyState {
  padding: 2rem 1rem;
  text-align: center;
  color: var(--asc-color-base-shade3);
}

.mentionContainer__closeButton {
  position: absolute;
  top: 0;
  right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 6.25rem !important;
  padding: 0.125rem !important;
  background-color: var(--asc-color-background-default) !important;

  /* Elevation 05 */
  box-shadow:
    0 2px 4px 0 rgb(40 41 61 / 4%),
    0 8px 16px 0 rgb(96 97 112 / 16%);
}

.mentionContainer__closeButton__icon {
  color: var(--asc-color-secondary-shade2);
  width: 1rem !important;
  height: 1rem !important;
}
