.userMentionItem__item {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: var(--asc-color-background-default);
  color: var(--asc-color-base-default);
  cursor: pointer;
}

.userMentionItem__item[data-hovered='true'] {
  background-color: var(--asc-color-base-shade4) !important;
}

.userMentionItem__item:focus {
  background-color: var(--asc-color-base-shade4);
}

.userMentionItem__avatar {
  width: 2rem;
  height: 2rem;
}

.userMentionItem__displayName {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--asc-color-base-default);
}

.userMentionItem__rightPane {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
}

.userMentionItem__brandIcon {
  width: 1.5rem;
  height: 1.5rem;
}
