:root {
    --color-primary-default: #1054DE;
    --color-primary-shade1: #4A82F2;
    --color-primary-shade2: #A0BDF8;
    --color-primary-shade3: #D9E5FC;
    --color-primary-shade4: #FFFFFF;
  
    --color-secondary-default: #292B32;
    --color-secondary-shade1: #636878;
    --color-secondary-shade2: #898E9E;
    --color-secondary-shade3: #A5A9B5;
    --color-secondary-shade4: #EBECEF;
  
    --color-base-default: #292B32;
    --color-base-shade1: #636878;
    --color-base-shade2: #898E9E;
    --color-base-shade3: #A5A9B5;
    --color-base-shade4: #EBECEF;
  
    --color-base-inverse-default: #CBCBCB;
  
    --color-alert-default: #FA4D30;
  
    --color-highlight: #1054DE;
  
    --color-message-bubble-default: #1054DE;
    --color-message-bubble-inverse: #FFFFFF;
  
    --typography-headings-font-weight: 600;
    --typography-headings-font-size: 1.25rem;
    --typography-headings-line-height: 1.5rem;
  
    --typography-titles-font-weight: 600;
    --typography-titles-font-size: 1rem;
    --typography-titles-line-height: 1.25rem;
  
    --typography-sub-title-font-weight: 400;
    --typography-sub-title-font-size: 0.8125rem;
    --typography-sub-title-line-height: 1rem;
  
    --typography-body-font-weight: normal;
    --typography-body-font-size: 0.875rem;
    --typography-body-line-height: 1.25rem;
  
    --typography-body-bold-font-weight: 600;
    --typography-body-bold-font-size: 0.875rem;
    --typography-body-bold-line-height: 1.25rem;
  
    --typography-caption-font-weight: normal;
    --typography-caption-font-size: 0.75rem;
    --typography-caption-line-height: 1rem;
  
    --typography-caption-bold-font-weight: 600;
    --typography-caption-bold-font-size: 0.75rem;
    --typography-caption-bold-line-height: 1rem;
  }