.communitySideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
  border-radius: var(--global-image-radius-big, 16px) var(--global-image-radius-big, 16px) 0 16px;
  box-shadow: var(--effect-elevation-sm-x, 0) var(--effect-elevation-sm-y, 4px)
    var(--effect-elevation-sm-blur, 16px) var(--effect-elevation-sm-spread, 0)
    var(--effect-surface-effect, rgb(0 0 0 / 12%));
}

.communitySideBar__breadcrumbContainer {
  padding: 0.75rem 1rem 0.5rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  flex-shrink: 0;
}

.communitySideBar__header {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  flex-shrink: 0;
}

.communitySideBar__headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.communitySideBar__menuSection {
  flex-shrink: 0;
  display: grid;
  border-top: 1px solid var(--asc-color-base-shade4);
  overflow: hidden;
}

.communitySideBar__myCommunitiesSection {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
  overflow-y: auto;
}

.sideBar__content {
  max-height: 55vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.communitySideBar__notificationTray {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--asc-color-background-default);
  box-shadow:
    0 0 2px 0 rgb(40 41 61 / 10%),
    0 4px 8px 0 rgb(96 97 112 / 20%);
}

.communitySideBar__menuButton {
  width: 100%;
}

.communitySideBar__menuButton .communitySideBarMenuItem {
  padding: 0 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

/* Profile (fistr child) higher fonna change this to custom component */
.communitySideBar__menuButton:first-child .communitySideBarMenuItem {
  height: 80px !important;
  min-height: 80px !important;
  display: flex;
  align-items: center;
}

.communitySideBar__menuButton:not(:first-child) .communitySideBarMenuItem {
  height: 48px !important;
  min-height: 48px !important;
  display: flex;
  align-items: center;
}

/* Hover state for all menu items */
.communitySideBar__menuButton .communitySideBarMenuItem:hover {
  background-color: var(--asc-color-background-shade1);
}

.communitySideBar__menuButton .communitySideBarMenuItem[data-active='true'] {
  background-color: var(--asc-color-primary-shade3);
  color: var(--asc-color-primary-default);
}

.communitySideBar__menuButton .communitySideBarMenuItem .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

/* Text styling */
.communitySideBar__menuButton .communitySideBarMenuItem .text {
  font-size: 14px;
  font-weight: 500;
  flex: 1;
}
