.communitySideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
}

.communitySideBar__header {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  flex-shrink: 0;
  min-width: 0;
}

.communitySideBar__headerLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.communitySideBar__menuSection {
  flex-shrink: 0;
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
}

.communitySideBar__myCommunitiesSection {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
  overflow-y: auto;
}

.sideBar__content {
  max-height: 55vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.communitySideBar__notificationTray {
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--asc-color-background-default);
  box-shadow:
    0 0 2px 0 rgb(40 41 61 / 10%),
    0 4px 8px 0 rgb(96 97 112 / 20%);
}
