.typography {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: Roboto, sans-serif;
}

.typography__headline {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5rem; /* 24px */
  font-weight: 800;
  font-family: Roboto, sans-serif;
}

.typography__titleBold {
  font-size: 1.125rem; /* 18px */
  line-height: 1.25rem; /* 20px */
  font-weight: 600;
}

.typography__title {
  font-size: 1.125rem; /* 18px */
  line-height: 1.25rem; /* 20px */
  font-weight: 400;
}

.typography__bodyBold {
  color: var(--global-text-default, #222);
  font-family: var(--typography-scale-body-p-bold-family, Roboto);
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 16px */
}

.typography__body {
  font-size: 0.875rem; /* 14px */
  line-height: 1rem; /* 16px */
  font-weight: 400;
}

.typography__captionBold {
  color: var(--component-form-filter-copy-all-use, #fff);
  text-align: center;
  font-family: var(--typography-scale-body-caption-bold-family, Roboto);
  font-size: var(--typography-scale-body-caption-bold-size, 0.75rem);
  font-style: normal;
  font-weight: 700;
  line-height: var(--typography-scale-body-caption-bold-line-height, 0.875rem);
}

.typography__d1 {
  font-family: Mulish, sans-serif;
  font-size: 1.75rem; /* 28px */
  line-height: 2rem; /* 32px */
  font-weight: 800;
}

.typography__d2 {
  font-family: Mulish, sans-serif;
  font-size: 1.5rem; /* 24px */
  line-height: 1.75rem; /* 28px */
  font-weight: 800;
}

.typography__caption {
  font-size: 0.75rem; /* 12px */
  line-height: 0.875rem; /* 14px */
  font-weight: 400;
}

.typography__captionSmall {
  font-size: 0.625rem; /* 10px */
  line-height: 0.75rem; /* 12px */
  font-weight: 400;
}

.typography__link {
  color: var(--global-text-default, #222);
  font-family: var(--typography-scale-interaction-link-family, Roboto);
  font-size: 0.875rem; /* 14px */
  font-style: normal;
  font-weight: 700;
  line-height: 0.875rem; /* 14px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.typography__ticketSizeTitle {
  color: var(--font-color-black-blue, #262c2f);
  text-align: center;
  font-family: var(--font-family-caption, Roboto);
  font-size: var(--accordion-ticket-size-text, 0.75rem);
  font-style: normal;
  font-weight: 500;
  line-height: var(--accordion-ticket-size-title, 0.875rem); /* 116.667% */
}

.typography__ticketSizeText {
  color: var(--font-color-secondary, #6b6b6b);
  text-align: center;
  font-family: var(--font-family-caption, Roboto);
  font-size: var(--accordion-ticket-size-text, 0.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--accordion-ticket-size-title, 0.875rem); /* 116.667% */
}

@media (width >= 48rem) {
  .typography__headline {
    font-size: 1.5rem; /* 24px */
    line-height: 1.75rem; /* 28px */
  }

  .typography__titleBold {
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
  }

  .typography__title {
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
  }

  .typography__subtitle {
    font-size: 1.125rem; /* 18px */
    line-height: 1.25rem; /* 20px */
  }

  .typography__bodyBold {
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
  }

  .typography__body {
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
  }

  .typography__d1 {
    font-size: 2.625rem; /* 42px */
    line-height: 3rem; /* 48px */
  }

  .typography__d2 {
    font-size: 1.75rem; /* 28px */
    line-height: 2rem; /* 32px */
  }
}
