.liveStreamEndThumbnail[data-view='post'] {
  gap: 0.25rem;
  display: flex;
  margin: 0 -1rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  object-position: center;
  width: calc(100% + 2rem);
  color: var(--asc-color-white);
  background-color: var(--asc-color-black);
}

.liveStreamEndThumbnail[data-view='full-screen'] {
  inset: 0;
  gap: 0.25rem;
  height: 100%;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  object-position: center;
  color: var(--asc-color-white);
  background-color: var(--asc-color-black);
}
