.notificationTraySkeleton__header {
  width: 30%;
  height: 0.625rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
  margin: 0.5rem 1rem;
}

.notificationTraySkeleton {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
}

.notificationTraySkeleton__avatar {
  width: 100%;
  max-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--asc-color-base-shade4);
}

.notificationTraySkeleton__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.notificationTraySkeleton__displayName {
  width: 75%;
  height: 0.625rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
}

.notificationTraySkeleton__description {
  width: 40%;
  height: 0.625rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.75rem;
}

.notificationTraySkeleton__avatar,
.notificationTraySkeleton__displayName {
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

.notificationTraySkeleton__divider {
  padding-top: 1rem;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
