.memberPermission {
  flex: 1 0 0;
  gap: 0.25rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.memberPermission__title {
  color: var(--asc-color-text-list-header-default-default);
}

.memberPermission__description {
  color: var(--asc-color-text-list-textdescription-default-default);
}
