.infiniteScrollContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: hidden;
}

.loadingIndicatorWrap {
  margin: auto;
  padding-top: var(--asc-spacing-m1);
  padding-bottom: var(--asc-spacing-m1);
}

.loadingIndicator {
  width: 1.25rem;
  height: 1.25rem;
}

.infiniteScrollInner {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.customStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: var(--live-chat-message-list-asc-color-secondary-shade2),
    var(--live-chat-asc-color-secondary-shade2, var(--asc-color-secondary-shade2));
  font-weight: var(--asc-text-font-weight-light);
  font-size: var(--asc-text-font-size-md);
}

.iconContainer {
  margin-bottom: var(--asc-spacing-m1);
}
