.archivedBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  min-width: 1.375rem;
  padding: 0 0.25rem;
  border-radius: 1.25rem;
  background-color: var(--asc-color-surface-badge-semanticbadge-chat-archived);
  overflow: hidden;
}

.archivedBadge__icon {
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  color: var(--asc-color-icon-badge-semanticbadge-chat-archived-default);
  fill: var(--asc-color-icon-badge-semanticbadge-chat-archived-default);
}

.archivedBadge__text {
  padding: 0 0.125rem;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: var(--asc-color-text-badge-semanticbadge-chat-archived-default);
}
