.containerWrapper {
  position: relative;
  width: 7.4rem;
  height: 13rem;
}

.storyPreviewAvatar {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.storyPreviewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumbnailMedia {
  width: 100%;
  height: 100%;
}

.thumbnailMedia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.storyPreviewContainer:hover .thumbnailMedia img {
  transform: scale(1.1);
  cursor: pointer;
}

.thumbnailInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.storyPreviewTitle {
  color: var(--asc-color-white);
  font-size: 0.25rem;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.hyperLinkContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3rem;
}

.hyperlink__icon {
  width: 0.5rem;
  height: 0.5rem;
  color: var(--asc-color-primary-default);
  fill: var(--asc-color-primary-default);
}

.hyperlink {
  gap: 0.125rem;
  display: inline-flex;
  color: var(--asc-color-black);
  text-decoration: none;
  padding: 0.1988rem 0.3181rem 0.1988rem 0.2386rem;
  font-size: 0.5rem;
  text-align: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 0.0625rem solid var(--asc-color-base-shade4);
  background: var(--asc-color-background-transparent-white);
}

.storyPreviewContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(from var(--asc-color-black) r g b / 60%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.storyPreviewContainer::after {
  content: 'View preview';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--asc-color-white);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  line-height: 1rem;
  letter-spacing: -0.0063rem;
}

.storyPreviewContainer:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 9999;
  cursor: pointer;
  background-color: rgb(from var(--asc-color-black) r g b / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
}

.imageFit {
  object-fit: contain;
}

.imageCover {
  object-fit: cover;
}

.hyperlinkPosition {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.hyperlinkIcon {
  width: 0.75rem;
  height: 0.75rem;
  color: var(--asc-color-primary-default);
  fill: var(--asc-color-primary-default);
  margin-right: 0.13rem;
}

.hyperlinkText {
  max-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
}

.skeleton {
  background-color: var(--asc-color-base-shade1);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.avatarSkeleton {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--asc-color-base-shade4);
  margin-right: 0.5rem;
}

.textSkeleton {
  flex-grow: 1;
}

.nameSkeleton {
  width: 80%;
  height: 0.25rem;
  background-color: var(--asc-color-base-shade4);
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.timeSkeleton {
  width: 40%;
  height: 0.25rem;
  background-color: var(--asc-color-base-shade4);
  border-radius: 0.25rem;
}

.skeletonContainer {
  width: 7.4rem;
  height: 13rem;
  position: relative;
  overflow: hidden;
}

.shadowOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgb(from var(--asc-color-black) r g b / 16%) 100%,
    rgb(from var(--asc-color-white) r g b / 0%) 55.05%
  );
  pointer-events: none;
  z-index: 0;
}

.fallbackThumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--asc-color-base-shade4);
  color: var(--asc-color-base-shade1);
  text-align: center;
}
