.containerWrapper {
  position: relative;
  width: 7.4rem;
  height: 13rem;
}

.storyPreviewAvatar {
  width: 0.7951rem;
  height: 0.7951rem;
  flex-shrink: 0;
}

.storyPreviewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.thumbnailMedia {
  width: 100%;
  height: 100%;
}

.thumbnailMedia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.storyPreviewContainer:hover .thumbnailMedia img {
  transform: scale(1.1);
  cursor: pointer;
}

.thumbnailInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.storyPreviewTitle {
  color: #ebecef;
  font-size: 0.25rem;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.hyperLinkContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3rem;
}

.hyperlink__icon {
  width: 0.5rem;
  height: 0.5rem;
  color: #1054de;
}

.hyperlink {
  gap: 0.125rem;
  display: inline-flex;
  color: var(--asc-color-black);
  text-decoration: none;
  padding: 0.1988rem 0.3181rem 0.1988rem 0.2386rem;
  font-size: 0.5rem;
  text-align: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 0.0625rem solid #ebecef;
  background: rgb(255 255 255 / 80%);
}

.storyPreviewContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.storyPreviewContainer::after {
  content: 'View preview';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ebecef;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  line-height: 1rem;
  letter-spacing: -0.0063rem;
}

.storyPreviewContainer:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 9999;
  cursor: pointer;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
}

.imageFit {
  object-fit: contain;
}

.imageCover {
  object-fit: cover;
}

.hyperlinkPosition {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.hyperlinkIcon {
  width: 0.75rem;
  height: 0.75rem;
  color: #1054de;
  margin-right: 0.13rem;
}

.hyperlinkText {
  max-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
