.globalFeedStorySkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.globalFeedStorySkeleton__avatar,
.globalFeedStorySkeleton__displayName {
  padding: 0.25rem;
}
