.menuButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(from var(--asc-color-black) r g b / 50%);
}

.menuButton__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-primary-shade4);
}
