/* SideMenuActionItem component styles */

/* Common action item container styles */
.actionItemContainer {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 6px;
  justify-content: left;
  border-radius: 4px;
}

.actionItemContainer:hover:not(:disabled) {
  background-color: var(--asc-color-primary-shade3);
}

.actionItemContainer:disabled {
  color: var(--asc-color-neutral-shade2);
  background-color: transparent;
}

/* Button specific styles */
.buttonActionItem {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 6px;
  justify-content: left;
  border-radius: 4px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--asc-font-size-s);
  font-weight: var(--asc-font-weight-semibold);
  line-height: var(--asc-line-height-s);
  text-align: left;
}

.buttonActionItem:hover:not(:disabled) {
  background-color: var(--asc-color-primary-shade3);
}

.buttonActionItem:disabled {
  color: var(--asc-color-neutral-shade2);
  background-color: transparent;
}

/* Anchor specific styles */
.anchorActionItem {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 6px;
  justify-content: left;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: var(--asc-font-size-s);
  font-weight: var(--asc-font-weight-semibold);
  line-height: var(--asc-line-height-s);
}

.anchorActionItem:hover:not(:disabled) {
  background-color: var(--asc-color-primary-shade3);
}

.anchorActionItem:disabled {
  color: var(--asc-color-neutral-shade2);
  background-color: transparent;
}

/* Active state for both button and anchor */
.buttonActionItem.active,
.anchorActionItem.active {
  background-color: var(--asc-color-primary-shade3);
}

.buttonActionItem.active .actionItemChild,
.anchorActionItem.active .actionItemChild {
  color: var(--asc-color-primary-main);
}

.anchorActionItem.active {
  color: var(--asc-color-primary-main);
}

/* Icon wrapper styles */
.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: var(--asc-color-base-shade4);
  color: inherit;
}

.iconWrapper.active {
  background: var(--asc-color-primary-main);
  /* TODO: check color with design */
  color: white;
}

/* Action item child wrapper */
.actionItemChild {
  color: inherit;
}
