.emptyStateRing {
  stroke: var(--asc-color-base-shade4);
  stroke-width: 2;
  fill: none;
}

.errorRing {
  stroke: var(--asc-color-alert);
}

.uploadingProgressRing {
  stroke-dasharray: 339;
  stroke-dashoffset: 339;
  transform: rotate(-90deg);
  animation: progress 2s linear infinite;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 339;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
