.dateDivider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  justify-content: center;
}

.dateText {
  display: flex;
  height: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  color: #222;
  background-color: #fff;
  line-height: 0.875rem;
  border: 1px solid #fff;
  border-radius: 1.25rem;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
}
