.infiniteScrollContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
  background: #f7f7f8;
}

.messageListContainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}
