.tabButton__tabsButton {
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--asc-color-base-shade4) !important;
}

.tabButton__tabsButton[data-active='true'] {
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--asc-color-primary-default) !important;
}

.tabButton__tabsButtonlabel {
  color: var(--asc-color-base-shade1);
}

.tabButton__tabsButtonlabel[data-active='true'] {
  color: var(--asc-color-white);
}
