.communityDescription {
  padding: 0.5rem 0;
  word-break: break-word;
  color: var(--asc-color-base-default);
}

.communityDescription__text {
  white-space: pre-wrap;
}

.communityDescription__seeMoreButton {
  color: var(--asc-color-primary-default);
}
