.messageListHeaderWrap {
  box-shadow: var(--asc-box-shadow-01);
}

.liveChat {
  display: flex;
  flex-direction: column;
  background-color: var(--asc-color-background-default);
  height: 100%;
  overflow-y: hidden;
}
