.socialGlobalSearchPage {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--asc-color-background-default);
}

.socialGlobalSearchPage__tabs {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  overflow-y: scroll;
}

.socialGlobalSearchPage__postContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
