.submitButton__button {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 0 0.75rem;
  width: 100%;
}

.submitButton__icon {
  fill: var(--asc-color-base-default);
  height: 1.5rem;
  width: 1.5rem;
}

.submitButton__iconWrap {
  background-color: var(--asc-color-base-shade4);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25rem;
}

.submitButton__text {
  line-height: 1.65rem;
}
