.messageBubble__container {
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--asc-color-live-steram-chat-bubble);
}

.messageBubble__topSectionWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.messageBubble__displayName__container {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
}

.messageBubble__displayName {
  color: var(--asc-color-secondary-default);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 0;
}

.messageBubble__optionIcon {
  fill: var(--asc-color-white);
}

.messageBubble__deletedMessageText__container {
  display: flex;
  gap: 0.25rem;
}

.messageBubble__deletedMessageText {
  color: var(--asc-color-base-shade2);
}

.messageBubble__deletedMessageText__icon {
  width: 1rem;
  height: 1rem;
  padding-bottom: 0.12rem;
  fill: var(--asc-color-base-shade2);
}

.messageBubble__messageText__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageBubble__messageText {
  color: var(--asc-color-white);
  word-break: break-word;
}

.messageBubble__optionsMenu__header {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: center;
  border-bottom: 1px solid var(--asc-color-base-divider-line);
}

.messageBubble__optionsButton__container {
  padding: 0.5rem 0;
}

.messageBubble__optionButton {
  padding: 0.75rem 0.5rem;
}

.messageBubble__optionButton__text {
  color: var(--asc-color-base-default);
}

.messageBubble__optionButton__dangerText {
  color: var(--asc-color-alert-default);
}

.messageBubble__optionButton__icon {
  margin-right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

.messageBubble__optionButton__dangerIcon {
  margin-right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-alert-default);
}

.messageBubble__exclamationIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-white);
}

.messageBubble__button__displayName {
  color: var(--asc-color-secondary-default);
}

.messageBubble__button__displayName:hover {
  text-decoration: underline;
}

.messageBubble__optionUserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.messageBubble__optionUserInfo__displayName {
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.messageBubble__optionUserInfo__button {
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.messageBubble__optionUserInfo__buttonIcon {
  margin-right: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

.messageBubble__optionUserInfo__buttonLabel {
  color: var(--asc-color-base-default);
}

.messageBubble__optionUserInfo__mutedIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--asc-color-base-shade2);
}

@media (width >= 48em) {
  .messageBubble__optionButton {
    padding: 0.75rem 1rem;
  }
}
