.notificationModeRow {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 0.125rem;
  min-width: 0;
}

.notificationModeRow__title {
  color: var(--asc-color-base-default);
}

.notificationModeRow__description {
  color: var(--asc-color-base-shade1);
}
