.avatarPicker {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  background-color: var(--asc-color-surface-avatar-profile-default);
  cursor: pointer;
  overflow: hidden;
}

.avatarPicker__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarPicker__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.avatarPicker__placeholderIcon {
  width: 3rem;
  height: 3rem;
  color: var(--asc-color-icon-avatar-default);
  fill: var(--asc-color-icon-avatar-default);
}

.avatarPicker__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--asc-color-background-transparent-black);
}

.avatarPicker__cameraIcon {
  width: 4rem;
  height: 4rem;
  color: var(--asc-color-icon-avatar-default);
  fill: var(--asc-color-icon-avatar-default);
}
