.watchingCountBadge {
  border-radius: 0.25rem;
  background: var(--asc-color-transparent-black);
  display: flex;
  padding: 0.25rem 0.375rem 0.25rem 0.25rem;
  align-items: center;
}

.watchingCountBadge__liveDotIcon {
  fill: var(--asc-color-live);
  width: 1rem;
  height: 1rem;
}

.watchingCountBadge__userIcon {
  fill: var(--asc-color-white);
  width: 1rem;
  height: 1rem;
}

.watchingCountBadge__text {
  color: var(--asc-color-white);
  margin-left: 0.125rem;
}
