.emptyPinnedPost__container {
  gap: 1rem;
  display: grid;
  padding: 3rem;
  place-items: center;
}

.emptyPinnedPost__text {
  color: var(--asc-color-base-shade3);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.emptyPinnedPost__icon {
  fill: var(--asc-color-base-shade4);
  width: 3.75rem;
  height: 2.8125rem;
}

@media (width >= 48em) {
  .emptyPinnedPost__container {
    padding: 3.7rem;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }
}
