.editGroupMemberPermissions {
  width: 100%;
  display: block;
  min-height: 100svh;
  background: var(--asc-color-surface-page-background-default);
}

.editGroupMemberPermissions__sectionTitle {
  display: block;
  padding: 1rem 1rem 0.5rem;
  background: var(--asc-color-surface-list-default-default);
  color: var(--asc-color-text-list-header-default-default);
}

.editGroupMemberPermissions__radios {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editGroupMemberPermissions__radio {
  padding: 1rem;
  background: var(--asc-color-surface-list-default-default);
  cursor: pointer;
  align-items: flex-start;
}
