.notificationsDisabledBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.75rem 1rem;
  background: var(--asc-color-surface-banner-subdue-general);
}

.notificationsDisabledBanner__icon {
  flex-shrink: 0;
  width: 1.125rem;
  height: 1.125rem;
  color: var(--asc-color-icon-banner-subdue-description-general);
  fill: var(--asc-color-icon-banner-subdue-description-general);
}

.notificationsDisabledBanner__text {
  color: var(--asc-color-text-banner-subdue-textdescription-general);
  text-align: center;
}
