.notificationsDisabledBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.75rem 1rem;
  background: var(--asc-color-background-shade1);
}

.notificationsDisabledBanner__icon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: var(--asc-color-base-shade1);
  fill: var(--asc-color-base-shade1);
}

.notificationsDisabledBanner__text {
  color: var(--asc-color-base-shade1);
  text-align: center;
}
