.userVideoFeed {
  padding-bottom: 1rem;
}

.userVideoFeed__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--asc-color-background-default);
}

.userVideoFeed__observerTarget {
  height: var(--asc-spacing-m1);
  width: 100%;
}

.userVideoFeed__videoFeedTabs {
  background-color: var(--asc-color-background-default);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.88rem 1rem;
}

.userVideoFeed__tabsButton {
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--asc-color-base-shade4) !important;
}

.userVideoFeed__tabsButton[data-active='true'] {
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--asc-color-primary-default) !important;
}

.userVideoFeed__tabsButtonlabel {
  color: var(--asc-color-base-shade1);
}

.userVideoFeed__tabsButtonlabel[data-active='true'] {
  color: var(--asc-color-white);
}

@media (width >=48em) {
  .userVideoFeed__container {
    background-color: var(--asc-color-background-default);
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    border-top: none;
  }

  .userVideoFeed__videoFeedTabs {
    background-color: var(--asc-color-background-default);
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid var(--asc-color-base-shade4);
    border-bottom: none;
  }
}
