.liveStreamContent {
  margin: 0 -1rem;
  object-fit: cover;
  position: relative;
  height: 100%;
  width: calc(100% + 2rem);
}

.liveStreamContent__playButton {
  top: 50%;
  left: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.liveStreamContent[data-idle='true'] {
  cursor: default;
}

.liveStreamContent__statusBadge {
  top: 1rem;
  right: 1rem;
  z-index: 5;
  position: absolute;
  display: inline-block;
}

.liveStreamContent__taggedProducts {
  position: absolute;
  bottom: 0.75rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 90%;
}
