.addTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 4rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.addTile__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--asc-color-base-shade4);
}

.addTile__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

.addTile__name {
  max-width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--asc-color-base-default);
  text-align: center;
}
