.createPost {
  height: 100%;
  position: relative;
  background-color: var(--asc-color-background-default);
}

.createPost__form {
  position: relative;
  overflow-y: scroll;
  max-height: calc(100% - 6.75rem);
}

.createPost__form[data-from-media='false'] {
  overflow-y: scroll;
  max-height: calc(100% - 14.875rem);
}

.createPost__topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--asc-spacing-m1);
}

.createPost__formContent {
  position: relative;
  max-height: auto;
  min-height: auto;
  padding: 1rem;
}

.createPost__productTagActionButton {
  position: absolute;
  bottom: 12.75rem;
  right: 1.25rem;
}

.createPost__productTagActionButton[data-from-media='true'] {
  bottom: 6.75rem;
}

.createPost__productTagActionButton__button {
  /* TODO: check on this css value again */
  box-shadow: var(--asc-box-shadow-04);
}

.createPost__formContent .createPost__titleInput {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

.createPost__formContent .createPost__titleInput::placeholder {
  font-size: 1rem;
  font-weight: 600;
}

.createPost__formContent .createPost__input {
  padding: 1rem;
}

.createPost__formContent .createPost__placeholder {
  left: 1rem;
  top: 4.8rem;
}

.createPost__formContent .createPost__placeholder[data-isclip='true'] {
  left: 1rem;
  top: 15.3rem;
}

.createPost__mentionContainer {
  display: none;
}

.createPost__attachment {
  display: none;
}

.createPost__ctaWrapper {
  display: none;
}

.createPost__cta {
  display: none;
}

.createPost__mention {
  left: 0;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  max-height: 12.5rem;
  bottom: var(--asc-mention-bottom, 0);
  background-color: var(--asc-color-background-default);
}

.createPost__mention::-webkit-scrollbar {
  display: none;
}

.createPost__attachmentDrawer {
  display: block;
}

.createPost__attachmentDrawer__content {
  top: 0;
  left: 0;
  width: 100%;
  outline: none;
  position: absolute;
}

.createPost__notificationWrapper {
  bottom: 6rem;
  position: relative;
}

.createPost__notificationWrapper[data-item-position='false'] {
  bottom: 11rem;
  position: relative;
}

.createPost__notification {
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 15rem;
  left: 1rem;
  display: flex;
  justify-content: start;
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--asc-box-shadow-03);
  background-color: var(--asc-color-secondary-default);
  color: var(--asc-color-background-default);
}

.createPost__notificationToast {
  margin-bottom: 0;
  margin-top: 0;
}

.createPost__notification[data-show-detail-media-attachment='0'] {
  bottom: 6rem;
}

.createPost__notification[data-show-detail-media-attachment='1'] {
  bottom: 10rem;
}

.createPost__notification[data-show-detail-media-attachment='2'] {
  bottom: 12rem;
}

.createPost__notification[data-show-detail-media-attachment='3'] {
  bottom: 15rem;
}

.createPost__notification[data-show-detail-media-attachment='4'] {
  bottom: 19rem;
}

.createPost__notification[data-is-clip-post='true'] {
  bottom: 1rem;
}

.createPost_notificationIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-background-default);
}

.createPost__attachmentDrawer__contentContainer {
  position: absolute;
  box-shadow: var(--asc-box-shadow-04);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--asc-color-background-default);
}

.createPost__attachmentDrawer__contentContainer[data-show-detail-media-attachment='false'] {
  padding: 0.5rem 2rem;
  bottom: -0.4rem;
  margin-top: 0.75rem;
}

.createPost__attachmentDrawer__contentContainer[data-show-detail-media-attachment='true'] {
  bottom: -0.9rem;
  margin-top: -1rem;
  padding: 0.75rem 1rem 2rem;
}

.createPost__clipPostThumbnaiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.createPost__clipPostThumbnail {
  width: 5rem;
  height: 8.5rem;
  border-radius: 0.25rem;
  object-fit: cover;
}

.createPost__clipPostThumbnail[data-aspect-fill='false'] {
  object-fit: contain;
  background-color: var(--asc-color-black);
}

.createPost__clipPostPlayIconWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.createPost__clipPostPlayIcon {
  width: 0.85rem;
  height: 0.85rem;
}

.createPost__textEditor {
  margin-bottom: 0.5rem;
}

@media (width >= 48em) {
  .createPost {
    width: 30rem;
    position: static;
    border-radius: 0.75rem;
  }

  .createPost__form,
  .createPost__form[data-from-media='false'] {
    overflow-y: auto;
    max-height: 100%;
  }

  .createPost__topBar {
    display: none;
  }

  .createPost__formContent {
    overflow-y: auto;
    max-height: 50vh;
    min-height: 13rem;
    position: relative;
    padding: 1rem 1.5rem;
  }

  .createPost__attachment {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: var(--asc-color-background-default);
  }

  .createPost__ctaWrapper {
    display: block;
    padding: 1rem 1.5rem;
  }

  .createPost__cta {
    width: 100%;
    display: block;
  }

  .createPost__mentionContainer {
    z-index: 9999;
    display: block;
    width: 16.25rem;
    height: 16.5rem;
    position: relative;
    overflow-y: scroll;
    border-radius: 0.5rem;
    box-shadow: var(--asc-box-shadow-04);
    background-color: var(--asc-color-background-default);
  }

  .createPost__mention {
    display: none;
  }

  .createPost__attachmentDrawer {
    display: none;
  }

  .createPost__notificationWrapper,
  .createPost__notificationWrapper[data-item-position='false'] {
    top: 2rem;
    height: 3rem;
    width: 30rem;
    z-index: 9999;
    bottom: unset;
    position: absolute;
  }
}
