.followUserButton {
  width: 100%;
  background-color: var(--asc-color-primary-default);
  position: relative;
  border-radius: 0.5rem;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 14px;
}

.followUserButton__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.followUserButton__icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--asc-color-white);
}
