.messageBubble {
  padding: var(--asc-spacing-s1) 0.625rem;
  border-radius: var(--asc-border-radius-lg);
  border-top-left-radius: var(--asc-border-radius-none);
  color: var(--asc-color-base-inverse);
  background-color: var(--asc-color-base-shade4);
  max-width: 7.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

.messageBubble[data-mentioned='true'] {
  border: 1px solid var(--asc-color-primary-default);
}

.messageRepliedBubble {
  width: 12.5rem;
}

.messageParentContainer {
  padding: var(--asc-spacing-s2);
  border-radius: var(--asc-border-radius-lg) var(--asc-border-radius-lg) 0 0;
  background-color: var(--asc-color-base-shade3);
}

.messageParentDisplayName {
  color: var(--asc-color-base-inverse);
}

.messageParentText {
  color: var(--asc-color-base-default);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.messageChildContainer {
  border-radius: 0 0 var(--asc-border-radius-lg) var(--asc-border-radius-lg);
  background-color: var(--asc-color-base-shade4);
  color: var(--asc-color-base-inverse);
  padding: var(--asc-spacing-s1) var(--asc-spacing-s2);
}

.messageChildText {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
