.tagItem {
  gap: 0.75rem;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.tagItem:hover {
  background-color: var(--asc-color-base-shade4);
}

.tagItem__leftPane {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.tagItem__icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--asc-color-secondary-default);
}

.tagItem__iconText {
  color: var(--asc-color-white);
  font-size: 1.25rem;
}

.tagItem__rightPane {
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.tagItem__tagName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tagItem__tagName__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--asc-color-primary-default);
}

.tagItem__postCount {
  color: var(--asc-color-base-shade2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
