.communityFeedStorySkeleton {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: center;
  justify-content: center;
}

.communityFeedStorySkeleton__avatar {
  padding: 0.25rem 0.25rem 0;
}

.communityFeedStorySkeleton__displayName {
  padding: 0.25rem;
}
