.productTagBadge__productTagSelection {
  height: 90dvh;
}

.productTagBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  height: 1.5rem;
  padding: 0.16rem 0.5rem 0.16rem 0.16rem;
  background: var(--asc-color-background-transparent-black);
  backdrop-filter: blur(0.125rem);
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.productTagBadge[data-label='false'] {
  width: 1.5rem;
  padding: 0.16rem 0.12rem 0.16rem 0.16rem;
}

.productTagBadge__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--asc-color-white);
  fill: var(--asc-color-white);
}

.productTagBadge__count {
  color: var(--asc-color-white);
}
