.uiBackButton {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .uiBackButtonImage {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }