.emptyContent[data-variant='container'],
.emptyContent[data-variant='item'] {
  text-align: center;
  padding: 5rem 0.5rem;
}

.emptyContent__text {
  margin-top: 0.25rem;
  color: var(--asc-color-base-shade3);
}

@media (width >= 48rem) {
  .emptyContent[data-variant='container'] {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .emptyContent[data-variant='item'] {
    width: 100%;
    height: 100%;
    padding: 1.5rem 0.5rem;
    background-color: var(--asc-color-background-default);
  }
}
