.tabs {
  display: flex;
  color: var(--asc-color-base-shade3);
}

.tabs[data-orientation='horizontal'] {
  flex-direction: column;
}

.tabsList {
  gap: 1.25rem;
  display: flex;
}

.tabPanel {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabPanel::-webkit-scrollbar {
  display: none;
}

.tab {
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 1.875rem;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--asc-color-base-shade3);
  transition: all 0.2s ease;
}

.tab[data-selected] {
  background: var(--component-form-filter-surface-active, #435864);
  color: var(--asc-color-white);
}

.tab[data-selected] .typography {
  color: var(--asc-color-white);
}

.tab[data-disabled] {
  color: var(--asc-color-base-shade3);
}

.tab[data-disabled] .tab[data-selected] {
  --border-color: var(--asc-color-base-shade3);
}

@media (width >= 48em) {
  .tab[data-focus-visible] {
    background-color: var(--asc-color-primary-shade3);
  }
}
