.pendingPostContent__container {
  display: block;
  padding: 0 1rem;
  background-color: var(--asc-color-background-default);
}

.pendingPostContent__container:last-child {
  margin-bottom: 0.5rem;
}

.pendingPostContent__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
  width: 100%;
}

.pendingPostContent__userDetail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pendingPostContent__username,
.pendingPostContent__information__subtitle,
.pendingPostContent__editedTag {
  color: var(--asc-color-base-default);
}

.pendingPostContent__deletePost__icon {
  fill: var(--asc-color-alert-default);
  width: 1.5rem;
  height: 1.25rem;
}

.pendingPostContent__deletePost__text {
  color: var(--asc-color-alert-default);
}

.pendingPostContent__wrapRightMenu {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.pendingPostContent__actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  cursor: pointer;
  gap: 0.5rem;
}

.pendingPostContent__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.pendingPostContent__textPost {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}

.pendingPostContent__buttonWrapper {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
}

.pendingPostContent__imageViewer {
  border-radius: 0 !important; /* need to find a way to remove !important */
  max-height: none !important;
  background-color: transparent !important;
}

.pendingPostContent__imageViewerOverlay {
  background-color: var(--asc-color-black) !important;
}

@media (width >= 48em) {
  .pendingPostContent__container {
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
  }

  .pendingPostContent__container:last-child {
    margin-bottom: 0;
  }

  .pendingPostContent__imageViewerOverlay {
    background-color: rgb(from var(--asc-color-black) r g b / 80%) !important;
  }
}
