.communityDisplayName {
  color: var(--asc-color-base-default);
  max-width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--asc-text-font-size-md);
}
