.topNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 1rem;
  background: url('../../../../assets/topNavigationBg.svg');
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
}

.topNavigationLeftPane {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.topNavigationRightPane {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

@media (width >= 48em) {
  .topNavigation {
    padding: 0 0 1.5rem;
    background: none;
  }
}
