.communityProfilePage__container {
  overflow-y: auto;
  height: 100%;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.communityProfilePage__container::-webkit-scrollbar {
  display: none;
}

.communityProfilePage__header {
  position: sticky;
  top: 0;
  background-color: var(--asc-color-background-default);
}

.communityProfilePage__content {
  position: relative;
}

.communityProfilePage__createPostButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.communityProfile__divider {
  width: 100%;
  height: 1px;
  background-color: var(--asc-color-base-shade4);
  margin-bottom: 0.25rem;
}

.communityProfilePage__poseComposer {
  display: none;
  margin-top: 0.75rem;
}

.communityProfilePage__createPostHeader {
  display: block;
  max-width: 100%;
  overflow: hidden;
  font-size: 1.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--asc-color-base-default);
}

@media (width >= 48em) {
  .communityProfilePage__createPostButton {
    display: none;
  }

  .communityProfilePage__poseComposer {
    display: block;
  }
}
