.scrollToLatestButton {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  z-index: 10;
  box-shadow:
    0 0.0625rem 0.125rem -0.0625rem rgb(46 46 46 / 10%),
    0 0.0625rem 0.1875rem 0 rgb(46 46 46 / 10%);
}
