.scrollToLatestButton.scrollToLatestButton,
.scrollToLatestButton.scrollToLatestButton:hover {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  z-index: 10;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: var(--asc-color-background-shade1);
  border: 0.0625rem solid var(--asc-color-base-shade4);
  box-shadow:
    0 0.0625rem 0.1875rem rgb(41 43 50 / 10%),
    0 0.0625rem 0.125rem rgb(41 43 50 / 10%);
}

.scrollToLatestButton__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--asc-color-base-shade1);
  fill: var(--asc-color-base-shade1);
}
