.header__saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--asc-color-primary-default);
}

.header__saveButton[data-disabled='true'] {
  color: var(--asc-color-primary-shade2);
  cursor: not-allowed;
}

.header__saveLabel {
  color: inherit;
}
