.communityAddMemberPage__container {
  height: 100vh;
  overflow: scroll;
}

.communityAddMemberPage__topbarSticky {
  background-color: var(--asc-color-background-default);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.communityAddMemberPage__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.communityAddMemberPage__emptySapce {
  width: 1.5rem;
}

.communityAddMemberPage__searchWrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
}

.communityAddMemberPage__searchInput {
  border-radius: 0.5rem;
  background-color: var(--asc-color-base-shade4);
  width: 100%;
  padding: 0.625rem 0.75rem 0.625rem 2.5rem;
  font-size: 1rem;
  color: var(--asc-color-base-default);
  border: none;
  outline: none;
}

.communityAddMemberPage__searchIcon {
  position: absolute;
  fill: var(--asc-color-base-shade2);
  left: 1.75rem;
  width: 1.5rem;
  height: 1.25rem;
}

.communityAddMemberPage__searchIcon[data-search-value='true'] {
  fill: var(--asc-color-base-default);
}

.communityAddMemberPage__clearSearchButton {
  display: none;
}

.communityAddMemberPage__clearSearchButton[data-search-value='true'] {
  display: block;
  position: absolute;
  right: 1.75rem;
}

.communityAddMemberPage__clearSearch {
  fill: var(--asc-color-base-shade3);
  width: 1.5rem;
  height: 1rem;
}

.communityAddMemberPage__selectedUsersWrap {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 1rem 1.25rem;
  border-bottom: 1px solid var(--asc-color-base-shade4);
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.communityAddMemberPage__selectedUsersWrap::-webkit-scrollbar {
  display: none;
}

.communityAddMemberPage__selectedUser {
  display: block;
  text-align: center;
}

.communityAddMemberPage__selectedUserAvatar {
  position: relative;
  display: flex;
  justify-content: center;
}

.communityAddMemberPage__container .communityAddMemberPage__selectedUserAvatarImage {
  width: 2.5rem;
  height: 2.5rem;
}

.communityAddMemberPage__removeUserButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0;
}

.communityAddMemberPage__removeUser {
  display: block;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;
  fill: var(--asc-color-background-transparent-black);
}

.communityAddMemberPage__selectedUserDisplayName {
  display: inline-block;
  justify-self: center;
  align-items: center;
  width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.25rem;
  color: var(--asc-color-base-default);
}

.communityAddMemberPage__memberList {
  padding: 1rem;
}

.communityAddMemberPage__memberItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}

.communityAddMemberPage__memberAvatar {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.25rem;
}

.communityAddMemberPage__memberAvatarTegDefault {
  width: 2.5rem;
  height: 2.5rem;
}

.communityAddMemberPage__memberName {
  color: var(--asc-color-base-default);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--asc-text-font-size-md);
  padding: 0 0.5rem;
}

.communityAddMemberPage__checkboxLabel {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
}

.checkbox__item {
  padding: 0.5rem 0;
  flex-direction: row-reverse;
}

.communityAddMemberPage__addMemberButton {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  border-top: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
  padding: 1rem;
}

.communityAddMemberPage__button {
  width: 100%;
}

@media only screen and (width >= 48em) {
  .communityAddMemberPage__container {
    height: auto;
    width: 30rem;
    border-radius: 0.75rem;
  }

  .communityAddMemberPage__topbarSticky {
    border-bottom: 1px solid var(--asc-color-base-shade4);
  }

  .communityAddMemberPage__selectedUsersWrap {
    border-bottom: none;
    margin-bottom: 0;
  }

  .communityAddMemberPage__navbar {
    flex-direction: row-reverse;
    padding: 1.25rem 1.5rem 1rem;
  }

  .communityAddMemberPage__closeButton {
    fill: var(--asc-color-base-shade3);
  }

  .communityAddMemberPage__title {
    font-size: 1.25rem;
  }

  .communityAddMemberPage__emptySapce {
    display: none;
  }

  .communityAddMemberPage__memberList {
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: scroll;
    padding-bottom: 5rem;
  }

  .communityAddMemberPage__memberList[data-has-selected='true'] {
    min-height: calc(50vh - 6.5rem);
    max-height: calc(50vh - 6.5rem);
  }

  .communityAddMemberPage__addMemberButton {
    margin-top: 0;
    position: static;
    border-top: none;
  }
}
