.clipFeedPage__container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      180deg,
      rgb(0 0 0 / 30%) 0%,
      rgb(0 0 0 / 0%) 10%,
      rgb(0 0 0 / 0%) 90%,
      rgb(0 0 0 / 30%) 100%
    ),
    var(--asc-color-black);
  overflow: hidden;
}

.clipFeedPage__post {
  display: flex;
}

.clipFeedPage__swiperContainer {
  width: 100%;
  height: 100vh;
}

.clipFeedPage__swiperSlide {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clipFeedPage__swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clipFeedPage__clipContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--asc-color-base-shade3);
}

.clipFeedPage__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  color: var(--asc-color-white);
}

.clipFeedPage__backButton {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-white);
}

.clipFeedPage__viewPostButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 0;
}

.clipFeedPage__viewPostIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--asc-color-base-default);
}

.clipFeedPage__viewPostText {
  color: var(--asc-color-base-default);
}
