.infiniteScrollContainer {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow: auto;
  background: white;
  min-height: 0;
}

.messageListContainer {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 16px 16px;
  gap: 0.5rem;
}
