.settingPageContainer {
  display: flex;
  min-height: 100vh;
  background: #fff;
}

.settingPageContent {
  flex: 1;
  padding: 32px;
}

.sectionHeading {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.deleteProfileContainer {
  text-decoration: underline;
  padding: 0 1rem;
}

.sectionDivider {
  margin: 1rem 0;
  padding: 0 1rem;
}
