.createCommunity {
  color: var(--asc-color-base-default);
}

.createCommunity__topBar {
  display: flex;
  align-items: center;
  padding: 1.12rem 0.75rem;
  justify-content: space-between;
}

.createCommunity__title {
  color: var(--asc-color-base-default);
}

.createCommunity__emptySpace {
  width: 1.5rem;
}

.createCommunity__form {
  border: none;
  padding-bottom: 5rem;
}

.createCommunity__coverImageButton {
  width: 100%;
  height: 11.75rem;
  position: relative;
  background:
    linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 50%)) 100%,
    #d9e5fc; /* var(--asc-color-primary-shade3) is not working */
}

.createCommunity__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%);
}

.createCommunity__cameraIcon {
  top: 50%;
  left: 50%;
  width: 2rem;
  opacity: 0.8;
  height: 1.75rem;
  position: absolute;
  fill: var(--asc-color-white);
  transform: translate(-50%, -50%);
}

.createCommunity__formContent {
  padding: 0.5rem 1rem 0;
}

.createCommunity__inviteMemberLabel {
  display: block;
  padding: 1.5rem 0 1rem;
}

.createCommunity__label {
  gap: 0.5rem;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

.createCommunity__charactersCount {
  font-size: 0.8125rem;
  color: var(--asc-color-base-shade1);
}

.createCommunity__input {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 0.25rem;
  padding-bottom: 1rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  color: var(--asc-color-base-default);
  background-color: var(--asc-color-background-default);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__description {
  gap: 0.25rem;
  display: flex;
  align-items: center;
}

.createCommunity__optionalText {
  line-height: 1.125rem;
  font-size: 0.8125rem;
  color: var(--asc-color-base-shade3);
}

.createCommunity__textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  padding: 0 0 1rem;
  margin-top: 0.25rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  field-sizing: content;
  word-break: break-all;
  letter-spacing: -0.015rem;
  color: var(--asc-color-base-default);
  background-color: var(--asc-color-background-default);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__input::placeholder,
.createCommunity__textarea::placeholder {
  font-size: 0.875rem;
  color: var(--asc-color-base-shade3);
}

.createCommunity__categoryIcon {
  width: 1.5rem;
  height: 1.25rem;
  fill: var(--asc-color-base-shade2);
}

.createCommunity__categories {
  gap: 0.25rem;
  display: flex;
  padding-bottom: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__categoriesWrap {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.createCommunity__selectedCategories {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  border: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__selectedCategoryTagAvatar,
.createCommunity__selectedCategoryTagAvatarDefault {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.createCommunity__selectedCategoryName {
  font-size: 1rem;
  overflow: hidden;
  font-weight: 600;
  max-width: 14.5rem;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  color: var(--asc-color-base-default);
}

.createCommunity__removeCategory {
  fill: var(--asc-color-base-shade1);
}

.createCommunity__category {
  width: 100%;
}

.createCommunity__selectedCategory {
  width: 100%;
  display: flex;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-bottom: 1rem;
  line-height: 1.25rem;
  letter-spacing: -0.015rem;
  justify-content: space-between;
  color: var(--asc-color-base-shade3);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}

.createCommunity__formRadio {
  gap: 0.75rem;
  padding: 1rem 0;
  align-items: flex-start;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.createCommunity__privacy {
  gap: 0.75rem;
  display: flex;
}

.createCommunity__formDivider {
  border-top: 1px solid var(--asc-color-base-shade4);
  margin: 0 1rem;
}

.createCommunity__selectedUserWrap {
  gap: 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

.createCommunity__selectedUser {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.createCommunity__selectedUserAvatar {
  display: flex;
  position: relative;
  justify-content: center;
}

.createCommunity .createCommunity__selectedUserAvatarImage {
  width: 2.5rem;
  height: 2.5rem;
}

.createCommunity__removeUserButton {
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  right: 0.4rem;
  cursor: pointer;
  background: none;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.createCommunity__removeUser {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  fill: var(--asc-color-background-transparent-black);
}

.createCommunity__selectedUserDisplayName {
  width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  margin-top: 0.25rem;
  justify-self: center;
  display: inline-block;
  text-overflow: ellipsis;
}

.createCommunity__createButton {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  padding: 1rem;
  position: fixed;
  justify-content: center;
  border-top: 1px solid var(--asc-color-base-shade4);
  background-color: var(--asc-color-background-default);
  z-index: 10;
}

.createCommunity__privacyIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
}

.createCommunity__public__privacyIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--asc-color-base-default);
  padding: 0.125rem 0;
}

.createCommunity__requireJoinApproval {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  align-items: flex-start;
  padding-bottom: 1rem;
}

.createCommunity__switch {
  position: relative;
}

@media only screen and (width >=48em) {
  .createCommunity {
    gap: 0.75rem;
    display: grid;
    padding-bottom: 2rem;
  }

  .createCommunity__topBar {
    height: 4rem;
    border-radius: 0.5rem;
    padding: 1.25rem 1rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
  }

  .createCommunity__title {
    font-size: 1.25rem;
  }

  .createCommunity__form {
    border-radius: 0.5rem;
    border: 1px solid var(--asc-color-base-shade4);
    background-color: var(--asc-color-background-default);
    padding-bottom: 0;
  }

  .createCommunity__coverImageButton {
    width: 100%;
    height: 17.0625rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .createCommunity__overlay {
    border-radius: 0.5rem;
  }

  .createCommunity__cameraIcon {
    width: 5rem;
    height: 3.5rem;
  }

  .createCommunity__formContent {
    padding: 0 1rem;
    background-color: var(--asc-color-background-default);
  }

  .createCommunity__label,
  .createCommunity__inviteMemberLabel {
    padding: 1.5rem 0 0;
  }

  .createCommunity__input,
  .createCommunity__textarea,
  .createCommunity__categories,
  .createCommunity__selectedCategory {
    padding: 1rem 0;
  }

  .createCommunity__createButton {
    margin-top: 0;
    border-top: none;
    position: static;
    width: auto;
    left: auto;
    right: auto;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .createCommunity__selectedUserWrap {
    padding: 1rem 0 0;
  }

  .createCommunity__selectedUserTitle {
    font-size: 1.25rem;
  }

  .createCommunity__selectedUserWrap .createCommunity__selectedUserHeader {
    border-bottom: none;
  }

  .createCommunity__requireJoinApproval {
    padding: 1rem 0;
  }
}
