/* DeviceControls Component Styles */

.deviceControls__controls {
  display: flex;
  flex-shrink: 0;
  min-height: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deviceControls__controls__buttonWrap {
  display: flex;
  gap: 0.5rem;
  border-radius: 10rem;
  border: 1px solid var(--asc-color-base-shade4);
  padding: 0.75rem;
  background-color: var(--asc-color-background-transparent-black);
}

.deviceControls__controls__button {
  background-color: var(--asc-color-base-shade4);
  padding-right: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 10rem;
}

.deviceControls__controls__iconButton {
  background-color: var(--asc-color-base-shade3);
  position: relative;
  border-radius: 10rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.25rem;
}

.deviceControls__controls__iconButton[data-pressable='true'] {
  cursor: unset;
}

.deviceControls__controls__icon {
  fill: var(--asc-color-white);
  height: 1.75rem;
  width: 1.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deviceControls__controls__icon[data-disabled='true'] {
  opacity: 0.3;
}

.deviceControls__controls__dropdownIcon {
  fill: var(--asc-color-white);
  opacity: 0.3;
  height: 1.25rem;
  width: 1.25rem;
}

/* Device Menu Styles */
.deviceControls__deviceMenu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 26.25rem;
  max-height: 21.75rem;
  overflow-y: auto;
}

.deviceControls__deviceMenu__item {
  padding: 0.75rem 0.5rem;
  border-radius: 0.5rem;
  justify-content: start;
  transition: background-color 0.2s ease;
  width: 100%;
  text-align: left;
}

.deviceControls__deviceMenu__item:hover {
  background-color: var(--asc-color-base-shade4);
}

.deviceControls__deviceMenu__itemText {
  color: var(--asc-color-base-shade1);
  font-size: 0.875rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deviceControls__deviceMenu__item[data-selected='true'] {
  background-color: var(--asc-color-background-shade1);
}
