.myCommunitiesSideBarItemSkeleton {
  gap: 1rem;
  width: 100%;
  display: grid;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  grid-template-columns: 2rem 12.5rem;
}

.myCommunitiesSideBarItemSkeleton__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--asc-color-base-shade4);
}

.myCommunitiesSideBarItemSkeleton__content {
  width: 100%;
  gap: 0.375rem;
  display: grid;
}

.myCommunitiesSideBarItemSkeleton__contentBar1 {
  width: 12.25rem;
  height: 0.875rem;
  border-radius: 0.75rem;
  background-color: var(--asc-color-base-shade4);
}

.myCommunitiesSideBarItemSkeleton__contentBar2 {
  width: 5rem;
  height: 0.625rem;
  border-radius: 0.75rem;
  background-color: var(--asc-color-base-shade4);
}

.myCommunitiesSideBarItemSkeleton__animation {
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
