name: Dev release pipeline

on:
  pull_request:

jobs:
  sync_dev:
    runs-on: ubuntu-latest

    environment:
      name: dev/${{ github.event.pull_request.number }}
      url: https://ui-kit.dev.amity.co/${{ github.event.pull_request.number }}

    env:
      NPM_FONT_AWESOME_TOKEN: ${{ secrets.NPM_FONT_AWESOME_TOKEN }}
      STORYBOOK_API_REGION: ${{ secrets.STORYBOOK_API_REGION }}
      STORYBOOK_API_KEY: ${{ secrets.STORYBOOK_API_KEY }}
      STORYBOOK_USER1: ${{ secrets.STORYBOOK_USER1 }}
      STORYBOOK_USER2: ${{ secrets.STORYBOOK_USER2 }}

    steps:
      - name: git checkout
        uses: actions/checkout@v2

      - name: install node
        uses: actions/setup-node@v2

      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: build storybook
        run: pnpm run storybook:build

      - name: publish on s3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: ui-kit.dev.amity.co
          SOURCE_DIR: ./storybook-build
          DEST_DIR: ${{ github.event.pull_request.number }}
