name: Staging release pipeline

on:
  push:
    branches:
      - develop

jobs:
  sync_staging:
    runs-on: ubuntu-latest

    environment:
      name: staging
      url: https://ui-kit.staging.amity.co/

    env:
      NPM_FONT_AWESOME_TOKEN: ${{ secrets.NPM_FONT_AWESOME_TOKEN }}
      STORYBOOK_API_REGION: ${{ secrets.STORYBOOK_API_REGION }}
      STORYBOOK_API_KEY: ${{ secrets.STORYBOOK_API_KEY }}
      STORYBOOK_USER1: ${{ secrets.STORYBOOK_USER1 }}
      STORYBOOK_USER2: ${{ secrets.STORYBOOK_USER2 }}
      STORYBOOK_USER3: ${{ secrets.STORYBOOK_USER3 }}
      STORYBOOK_USER4: ${{ secrets.STORYBOOK_USER4 }}
      STORYBOOK_USER5: ${{ secrets.STORYBOOK_USER5 }}
      STORYBOOK_USER6: ${{ secrets.STORYBOOK_USER6 }}

    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version-file: .tool-versions

      - uses: pnpm/action-setup@v4
        with:
          version: 9
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path | tr -d '\n')" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: build storybook
        run: pnpm run storybook:build

      - name: publish on s3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: ui-kit.staging.amity.co
          SOURCE_DIR: ./storybook-build
          DEST_DIR: ''
