.videoButton {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  gap: 0.75rem;
  cursor: pointer;
}

.videoButton:disabled {
  cursor: not-allowed;
  color: var(--asc-color-secondary-shade3);
}

.videoButton__icon {
  width: 2rem;
  height: 2rem;
  color: var(--asc-color-base-default);
  background: var(--asc-color-background-shade1);
  border-radius: 50%;
  padding: 0.25rem;
}

.videoButton__icon[data-disabled='true'] {
  color: var(--asc-color-secondary-shade3);
}

.videoButton__input {
  display: none;
}

.videoButton__label {
  display: initial;
}

@media (width >= 48em) {
  .videoButton {
    padding: 0;
  }

  .videoButton__label {
    display: none;
  }

  .videoButton[data-focus-visible] {
    border-radius: 100%;
    outline: 1px solid var(--asc-color-primary-default);
  }
}
