.iconButton.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--asc-color-base-default);
}

.iconButton.iconButton[data-variant='filled'] {
  width: 2rem;
  height: 2rem;
  border-radius: 6.1875rem;
  background: var(--asc-color-base-shade4);
}

.iconButton.iconButton[data-variant='filled']:hover {
  background: var(--asc-color-base-shade3);
}

.iconButton.iconButton[data-variant='transparent'] {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
}

.iconButton__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentcolor;
}
