.homeIndicatorContainer {
  padding-top: 1.3125rem;
  padding-bottom: 0.5rem;
}

.homeIndicator {
  margin: auto;
  width: 8.375rem;
  height: 0.3125rem;
  border-radius: var(--asc-border-radius-full);
  background-color: var(--live-chat-asc-color-base-shade1, var(--asc-color-base-shade1));
}
